html, body {
  overflow-x: hidden; }

body {
  font-family: 'Forum', cursive;
  color: #000000;
  width: 100%;
  margin: 0;
  background-color: #fff;
  position: relative; }
  body main {
    background-color: #fff; }
  body .line {
    position: absolute;
    z-index: 0;
    height: 100%;
    border-left: 1px solid #888888;
    opacity: 0.1; }
  body .line1 {
    left: 236px; }
  body .line2 {
    left: 295px; }
  body .line3 {
    left: 494px; }
  body .line4 {
    left: 542px; }
  body .line5 {
    left: 705px; }
  body .line6 {
    left: 796px; }
  body .line7 {
    left: 971px; }
  body .line8 {
    left: 1051px; }
  body .line9 {
    left: 1240px; }
  body .line10 {
    left: 1270px; }
  body .line11 {
    left: 1465px; }
  body .line12 {
    left: 1509px; }
  body .line13 {
    left: 1703px; }
  body .line14 {
    left: 1725px; }
  body h1, body h2, body h3 {
    font-family: 'Forum', cursive;
    font-weight: normal; }
  body .fancybox-margin {
    margin-right: 0; }

@media (max-width: 1880px) {
  body .line1 {
    left: 180px; }
  body .line2 {
    left: 239px; }
  body .line3 {
    left: 328px;
    display: none; }
  body .line4 {
    left: 476px;
    display: none; }
  body .line5 {
    left: 700px; }
  body .line6 {
    left: 740px; }
  body .line7 {
    left: 873px; }
  body .line8 {
    left: 913px; }
  body .line9 {
    left: 1014px;
    display: none; }
  body .line10 {
    left: 1059px;
    display: none; }
  body .line11 {
    left: 1117px; }
  body .line12 {
    left: 1157px; }
  body .line13 {
    left: 1402px; }
  body .line14 {
    left: 1424px; } }

@media (max-width: 1470px) {
  body .line1 {
    left: 180px; }
  body .line2 {
    left: 220px; }
  body .line5 {
    left: 525px; }
  body .line6 {
    left: 565px; }
  body .line7 {
    left: 657px; }
  body .line8 {
    left: 697px; }
  body .line11 {
    left: 899px; }
  body .line12 {
    left: 939px; }
  body .line13 {
    left: 1131px; }
  body .line14 {
    left: 1151px; } }

@media (max-width: 1179px) {
  body .line1 {
    left: 150px; }
  body .line2 {
    left: 190px; }
  body .line5 {
    left: 497px; }
  body .line6 {
    left: 575px; }
  body .line7 {
    left: 657px; }
  body .line8 {
    left: 697px; }
  body .line11 {
    left: 799px; }
  body .line12 {
    left: 820px; }
  body .line13 {
    left: 950px; }
  body .line14 {
    left: 970px; } }

@media (max-width: 1023px) {
  body .line1 {
    left: 80px; }
  body .line2 {
    left: 110px; }
  body .line5 {
    left: 310px; }
  body .line6 {
    left: 339px; }
  body .line7 {
    left: 402px; }
  body .line8 {
    left: 432px; }
  body .line11 {
    left: 580px; }
  body .line12 {
    left: 601px; }
  body .line13 {
    left: 721px; }
  body .line14 {
    left: 741px; } }

@media (max-width: 768px) {
  body .line {
    display: none; } }

@font-face {
  font-family: 'Forum', cursive; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.button {
  color: #313334;
  text-transform: uppercase;
  padding: 22px 30px;
  border: 1px solid #313334;
  font-size: 18px;
  letter-spacing: 2px;
  width: 280px;
  text-align: center; }

@media (max-width: 1023px) {
  .button {
    padding: 18px 0px;
    border: 1px solid #313334;
    font-size: 16px; } }

#scroll-animate {
  overflow: hidden; }

#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed; }

#heightPage,
#heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99; }

#heightPage {
  left: 0; }

#heightScroll {
  right: 0; }

footer {
  width: 100%;
  height: 300px;
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1; }

.content {
  height: 1000px;
  min-height: 1000px;
  background: #ededed;
  position: relative;
  z-index: 1; }

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); }

h1 {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #fff; }

.content h1 {
  line-height: 1000px;
  color: #999; }

footer h1 {
  line-height: 300px; }

header,
footer,
#scroll-animate-main {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1); }

.page-header {
  background-color: #fff;
  z-index: 9000;
  /*HAMBURGER*/ }
  .page-header__wrapper {
    position: relative;
    margin-left: 0; }
  .page-header__mobile {
    display: none; }
  .page-header__left {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 236px;
    background-color: #fff; }
    .page-header__left img:first-child {
      margin-top: 50px;
      margin-bottom: 119px; }
  .page-header__box {
    display: block;
    width: 99px;
    height: 100%;
    background-position: -10px -10px;
    margin-bottom: 100px; }
  .page-header__horizontal:hover {
    border-bottom: 1px solid #313334;
    transition: all 0.5s ease-in-out 0s; }
  .page-header__horizontal {
    transition: all 0.5s ease-in-out 0s;
    color: #313334;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 130px; }
  .page-header__vertical:hover {
    color: #313334;
    transition: all 0.5s ease-in-out 0s; }
  .page-header__vertical {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-align: center;
    color: #888888;
    text-decoration: none;
    margin-bottom: 80px; }
  .page-header__center {
    margin-left: 236px;
    display: flex;
    width: auto; }
  .page-header__look1 {
    background-image: url("../img/look1.jpg");
    width: 1229px;
    height: 820px;
    position: relative;
    margin-right: 44px; }
    .page-header__look1 div {
      position: absolute;
      bottom: 300px;
      left: 125px; }
    .page-header__look1 span {
      color: white;
      display: block;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      width: 200px; }
    .page-header__look1 span:nth-child(2) {
      font-size: 90px; }
  .page-header__look2 {
    background-image: url("../img/look2.jpg");
    width: 411px;
    height: 820px;
    position: relative;
    z-index: 101; }
    .page-header__look2 a {
      background-image: url("../img/spritesheet.png");
      width: 176px;
      height: 44px;
      background-position: -10px -121px;
      position: absolute;
      top: 410px;
      left: 100px;
      transition: all 7.9s ease-in-out 0s; }
      .page-header__look2 a .sticky {
        position: fixed;
        z-index: 100; }
      .page-header__look2 a .stop {
        position: relative;
        z-index: 100; }
  .page-header__look2:hover {
    transition: all 7.9s ease-in-out 0s; }
    .page-header__look2:hover:after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); }
    .page-header__look2:hover a {
      left: 130px;
      z-index: 5; }
  .page-header__right {
    position: fixed;
    top: 30px;
    right: 90px;
    z-index: 9000; }
  .page-header .hamburger-menu {
    margin: auto;
    width: 70px;
    height: 70px;
    cursor: pointer;
    /* text-align: center; */
    background: transparent;
    border-radius: 0;
    z-index: 500; }
  .page-header .bar,
  .page-header .bar:after,
  .page-header .bar:before {
    width: 42px;
    border-radius: 2px;
    height: 2px;
    /* top: 2px; */
    background: gray; }
  .page-header .bar {
    position: relative;
    transform: translateY(33px) translateX(25px);
    transition: all 0ms 300ms; }
  .page-header .bar.animate {
    background: transparent; }
  .page-header .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .page-header .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .page-header .bar.animate:after {
    top: 0;
    width: 42px;
    left: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .page-header .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    width: 42px;
    top: 0px;
    left: 0px;
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .page-header .hamburger-menu {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .35s ease;
    -ms-transition: all .3s ease; }
  .page-header .hamburger-menu:hover {
    opacity: .7;
    transition: all 0.3s ease-in-out 0s; }
  .page-header .menu {
    display: none;
    position: fixed;
    padding-top: 265px;
    padding-bottom: 518px;
    top: 0;
    width: 100vw;
    background: white;
    background-image: url("../img/logo-menu.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    opacity: 0.9;
    z-index: 500;
    transition: all 0.5s ease-in-out 0s; }
    .page-header .menu ul, .page-header .menu li {
      margin: 0;
      padding: 0;
      list-style: none; }
    .page-header .menu a {
      text-decoration: none; }
    .page-header .menu .page-header__first-menu {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .page-header .menu .page-header__first-menu li {
        margin-right: 95px; }
        .page-header .menu .page-header__first-menu li a {
          color: #313334;
          font-size: 18px;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out 0s; }
        .page-header .menu .page-header__first-menu li a:hover {
          border-bottom: 1px solid #313334;
          transition: all 0.9s ease-in-out 0s; }
    .page-header .menu .page-header__second-menu li {
      margin-top: 20px; }
      .page-header .menu .page-header__second-menu li a {
        color: #aaadae;
        text-transform: none;
        font-size: 16px;
        transition: all 0.3s ease-in-out 0s; }
      .page-header .menu .page-header__second-menu li a:hover {
        border-bottom: 1px solid #aaadae;
        transition: all 0.3s ease-in-out 0s; }
    .page-header .menu .page-header__second-menu li:first-child a {
      text-transform: uppercase;
      padding-bottom: 3px;
      border-bottom: 1px solid #aaadae; }
  .page-header .menu.open {
    display: block;
    z-index: 501;
    transition: all .9s ease; }
  .page-header .menu_links a {
    display: block;
    transition: all 0.3s ease-in-out 0s; }
  .page-header .menu_links a:hover {
    color: #000;
    transition: all 0.3s ease-in-out 0s; }

@media (max-width: 1880px) {
  .page-header__left {
    width: 180px; }
  .page-header__center {
    margin-left: 180px; }
  .page-header__look1 {
    background-size: cover;
    background-position-x: right;
    min-width: 650px;
    height: 620px;
    margin-right: 39px; }
  .page-header__look2 {
    width: 411px;
    height: 620px;
    background-position-x: right;
    background-position-y: bottom; }
    .page-header__look2 a {
      top: 310px;
      left: 50px;
      transition: all 0.3s ease-in-out 0s; }
  .page-header__look2:hover a {
    left: 80px;
    transition: all 0.3s ease-in-out 0s; }
  .page-header .menu {
    padding-top: 165px;
    padding-bottom: 318px;
    background-size: contain; } }

@media (max-width: 1470px) {
  .page-header__look1 {
    background-size: cover;
    background-position-x: right;
    min-width: 650px;
    height: 620px;
    margin-right: 39px; }
    .page-header__look1 div {
      bottom: 150px; }
  .page-header__look2 {
    width: 411px;
    height: 620px;
    background-position-x: right;
    background-position-y: bottom; }
    .page-header__look2 a {
      top: 310px;
      left: 50px; }
  .page-header__look2:hover a {
    left: 80px; }
  .page-header .menu {
    padding-top: 165px;
    padding-bottom: 318px;
    background-size: contain; } }

@media (max-width: 1179px) {
  .page-header__left {
    width: 150px; }
  .page-header__center {
    margin-left: 150px; }
  .page-header__look1 {
    margin-right: 20px;
    height: 500px; }
  .page-header__look2 {
    height: 500px;
    background-position-x: right;
    background-position-y: bottom; }
    .page-header__look2 a {
      left: 30px;
      width: 130px;
      background-position: -70px -121px; }
  .page-header__look2:hover a {
    left: 50px; } }

@media (max-width: 1023px) {
  .page-header__left {
    width: 80px; }
    .page-header__left img:first-child {
      width: 60px;
      margin-top: 30px;
      margin-bottom: 50px; }
  .page-header__box {
    width: 60px;
    margin-bottom: 50px; }
  .page-header__horizontal {
    margin-bottom: 50px; }
  .page-header__vertical {
    margin-bottom: 50px; }
  .page-header__center {
    margin-left: 80px; }
  .page-header__look1 {
    background-size: cover;
    background-position-x: right;
    min-width: 400px;
    height: 457px; }
    .page-header__look1 div {
      bottom: 100px; }
  .page-header__look2 {
    background-position-x: center;
    background-position-y: 80%;
    height: 457px; }
    .page-header__look2 a {
      top: 210px;
      left: 20px; }
  .page-header__look2:hover a {
    left: 30px; } }

@media (max-width: 768px) {
  .page-header {
    position: relative; }
    .page-header__mobile {
      display: block;
      width: 1408px;
      margin: 0 auto; } }
    @media (max-width: 768px) and (max-width: 1880px) {
      .page-header__mobile {
        width: 1000px; } }
    @media (max-width: 768px) and (max-width: 1470px) {
      .page-header__mobile {
        width: 800px; } }
    @media (max-width: 768px) and (max-width: 1179px) {
      .page-header__mobile {
        width: 650px; } }
    @media (max-width: 768px) and (max-width: 1023px) {
      .page-header__mobile {
        width: 450px; } }
    @media (max-width: 768px) and (max-width: 768px) {
      .page-header__mobile {
        width: 470px; } }
    @media (max-width: 768px) and (max-width: 640px) {
      .page-header__mobile {
        width: 430px;
        box-sizing: border-box; } }
    @media (max-width: 768px) and (max-width: 430px) {
      .page-header__mobile {
        width: 320px;
        max-width: 320px;
        background-color: lightgrey; } }

@media (max-width: 768px) {
    .page-header__top-wrapper {
      width: 1408px;
      margin: 0 auto;
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #fff; } }
    @media (max-width: 768px) and (max-width: 1880px) {
      .page-header__top-wrapper {
        width: 1000px; } }
    @media (max-width: 768px) and (max-width: 1470px) {
      .page-header__top-wrapper {
        width: 800px; } }
    @media (max-width: 768px) and (max-width: 1179px) {
      .page-header__top-wrapper {
        width: 650px; } }
    @media (max-width: 768px) and (max-width: 1023px) {
      .page-header__top-wrapper {
        width: 450px; } }
    @media (max-width: 768px) and (max-width: 768px) {
      .page-header__top-wrapper {
        width: 470px; } }
    @media (max-width: 768px) and (max-width: 640px) {
      .page-header__top-wrapper {
        width: 430px;
        box-sizing: border-box; } }
    @media (max-width: 768px) and (max-width: 430px) {
      .page-header__top-wrapper {
        width: 320px;
        max-width: 320px;
        background-color: lightgrey; } }

@media (max-width: 768px) {
    .page-header__logo {
      margin-bottom: 28px;
      margin-top: 28px;
      margin-left: 28px; }
    .page-header__top {
      position: fixed;
      top: 0; }
      .page-header__top .h_hamburger-mob {
        width: 30px;
        height: 30px;
        margin-right: 30px; }
      .page-header__top .hamburger-menu-mob {
        width: 30px;
        height: 30px;
        position: relative;
        top: 30px; }
      .page-header__top .bar-mob,
      .page-header__top .bar-mob:after,
      .page-header__top .bar-mob:before {
        width: 30px;
        border-radius: 2px;
        height: 2px;
        background: #000; }
      .page-header__top .bar-mob {
        position: relative;
        transform: translateY(15px);
        background: #000;
        transition: all 0ms 300ms; }
      .page-header__top .bar-mob.animate {
        background: transparent; }
      .page-header__top .bar-mob:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 8px;
        background: #000;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .page-header__top .bar-mob:after {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        background: #000;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .page-header__top .bar-mob.animate:after {
        top: 0;
        width: 30px;
        left: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .page-header__top .bar-mob.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        width: 30px;
        top: 0;
        left: 0;
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
      .page-header__top .hamburger-menu-mob {
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .35s ease;
        -ms-transition: all .3s ease; }
      .page-header__top .hamburger-menu-mob:hover {
        opacity: .7;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .35s ease;
        -ms-transition: all .3s ease; }
    .page-header .page-header__mob-open {
      margin-top: 100px;
      background-color: #efefef; }
    .page-header .page-header__mob-open .open-mob {
      display: block;
      z-index: 501;
      transition: all 0.5s ease-in-out 0s; }
    .page-header__menu-wrapper {
      width: 1408px;
      margin: 0 auto;
      box-sizing: border-box;
      padding-top: 28px;
      padding-bottom: 54px;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
    @media (max-width: 768px) and (max-width: 1880px) {
      .page-header__menu-wrapper {
        width: 1000px; } }
    @media (max-width: 768px) and (max-width: 1470px) {
      .page-header__menu-wrapper {
        width: 800px; } }
    @media (max-width: 768px) and (max-width: 1179px) {
      .page-header__menu-wrapper {
        width: 650px; } }
    @media (max-width: 768px) and (max-width: 1023px) {
      .page-header__menu-wrapper {
        width: 450px; } }
    @media (max-width: 768px) and (max-width: 768px) {
      .page-header__menu-wrapper {
        width: 470px; } }
    @media (max-width: 768px) and (max-width: 640px) {
      .page-header__menu-wrapper {
        width: 430px;
        box-sizing: border-box; } }
    @media (max-width: 768px) and (max-width: 430px) {
      .page-header__menu-wrapper {
        width: 320px;
        max-width: 320px;
        background-color: lightgrey; } }

@media (max-width: 768px) {
    .page-header__mob-menu {
      margin: 0;
      padding: 0; }
      .page-header__mob-menu ul, .page-header__mob-menu li {
        margin: 0;
        padding: 0;
        list-style: none; }
      .page-header__mob-menu a {
        text-decoration: none;
        font-size: 18px;
        line-height: 50px;
        color: #313334;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase; }
      .page-header__mob-menu a:hover {
        border-bottom: 1px solid #313334;
        transition: all 0.5s ease-in-out 0s; }
    .page-header__mob-sub-menu a {
      text-decoration: none;
      color: #aaadae;
      font-size: 18px;
      font-weight: normal;
      line-height: 35px;
      letter-spacing: 1px;
      text-transform: none; }
    .page-header__mob-sub-menu a:hover {
      border-bottom: none;
      color: #313334; }
    .page-header__links {
      display: flex;
      flex-direction: column; }
      .page-header__links img {
        height: 33px;
        margin-bottom: 75px;
        margin-top: 10px;
        width: 99px; }
      .page-header__links a {
        margin-bottom: 80px;
        width: 57px; }
    .page-header__desktop {
      display: none; }
    .page-header__look {
      width: 1408px;
      margin: 0 auto;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center; } }
    @media (max-width: 768px) and (max-width: 1880px) {
      .page-header__look {
        width: 1000px; } }
    @media (max-width: 768px) and (max-width: 1470px) {
      .page-header__look {
        width: 800px; } }
    @media (max-width: 768px) and (max-width: 1179px) {
      .page-header__look {
        width: 650px; } }
    @media (max-width: 768px) and (max-width: 1023px) {
      .page-header__look {
        width: 450px; } }
    @media (max-width: 768px) and (max-width: 768px) {
      .page-header__look {
        width: 470px; } }
    @media (max-width: 768px) and (max-width: 640px) {
      .page-header__look {
        width: 430px;
        box-sizing: border-box; } }
    @media (max-width: 768px) and (max-width: 430px) {
      .page-header__look {
        width: 320px;
        max-width: 320px;
        background-color: lightgrey; } }

@media (max-width: 768px) {
      .page-header__look img {
        margin-bottom: 25px; } }

@media (max-width: 640px) {
  .page-header__menu-wrapper {
    padding-bottom: 10px; } }

.page-footer {
  background-color: #58595b;
  position: fixed;
  bottom: 0;
  z-index: -1;
  height: auto; }
  .page-footer__wrapper {
    width: 1408px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    opacity: 0;
    transition: all 0.9s ease-in-out 0s; }
    @media (max-width: 1880px) {
      .page-footer__wrapper {
        width: 1000px; } }
    @media (max-width: 1470px) {
      .page-footer__wrapper {
        width: 800px; } }
    @media (max-width: 1179px) {
      .page-footer__wrapper {
        width: 650px; } }
    @media (max-width: 1023px) {
      .page-footer__wrapper {
        width: 450px; } }
    @media (max-width: 768px) {
      .page-footer__wrapper {
        width: 470px; } }
    @media (max-width: 640px) {
      .page-footer__wrapper {
        width: 430px;
        box-sizing: border-box; } }
    @media (max-width: 430px) {
      .page-footer__wrapper {
        width: 320px;
        max-width: 320px;
        background-color: lightgrey; } }
    .page-footer__wrapper ul, .page-footer__wrapper li {
      margin: 0;
      padding: 0;
      list-style: none; }
    .page-footer__wrapper a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      transition: all 0.5s ease-in-out 0s; }
    .page-footer__wrapper hr {
      width: 100%;
      margin-top: 40px; }
    .page-footer__wrapper span {
      color: #aaadae;
      margin-top: 20px;
      margin-bottom: 20px; }
      .page-footer__wrapper span a {
        color: #aaadae;
        text-decoration: underline; }
      .page-footer__wrapper span a:hover {
        color: #fff; }
  .page-footer__first-menu {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .page-footer__first-menu li {
      margin-right: 95px;
      margin-bottom: 40px; }
      .page-footer__first-menu li a {
        text-transform: uppercase; }
      .page-footer__first-menu li a:hover {
        border-bottom: 1px solid #ffffff;
        transition: all 0.5s ease-in-out 0s; }
  .page-footer__second-menu {
    display: flex;
    flex-direction: row; }
    .page-footer__second-menu li {
      margin-right: 40px; }
      .page-footer__second-menu li a {
        color: #aaadae;
        text-transform: none;
        font-size: 16px; }
      .page-footer__second-menu li a:hover {
        color: #fff;
        transition: all 0.5s ease-in-out 0s; }

@media (max-width: 1880px) {
  .page-footer {
    min-width: 100%; } }

@media (max-width: 1470px) {
  .page-footer__wrapper {
    padding-top: 30px; }
    .page-footer__wrapper hr {
      margin-top: 30px; }
    .page-footer__wrapper span {
      margin-top: 10px;
      margin-bottom: 10px; }
  .page-footer__first-menu {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .page-footer__first-menu li {
      margin-bottom: 30px; } }

@media (max-width: 1179px) {
  .page-footer__wrapper {
    padding-top: 30px; }
    .page-footer__wrapper hr {
      margin-top: 30px; }
    .page-footer__wrapper span {
      margin-top: 10px;
      margin-bottom: 10px; }
  .page-footer__first-menu li {
    margin-left: 40px;
    margin-right: 40px; }
    .page-footer__first-menu li a {
      font-size: 14px; } }

@media (max-width: 1023px) {
  .page-footer__wrapper {
    padding-top: 30px;
    width: 600px; }
    .page-footer__wrapper hr {
      margin-top: 30px; }
    .page-footer__wrapper span {
      margin-top: 10px;
      margin-bottom: 10px; }
  .page-footer__first-menu li {
    margin-left: 40px;
    margin-right: 40px; }
    .page-footer__first-menu li a {
      font-size: 12px; } }

@media (max-width: 768px) {
  .page-footer__wrapper {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 65px;
    box-sizing: border-box; }
    .page-footer__wrapper hr {
      margin: 0;
      width: 370px; }
    .page-footer__wrapper span {
      color: #aaadae;
      margin-top: 14px;
      line-height: 23px; }
      .page-footer__wrapper span a {
        color: #aaadae;
        text-decoration: underline; }
  .page-footer__first-menu {
    flex-direction: column;
    justify-content: left; }
    .page-footer__first-menu li {
      margin: 0; }
    .page-footer__first-menu a {
      font-size: 18px;
      line-height: 50px; }
  .page-footer__second-menu {
    flex-direction: column; }
    .page-footer__second-menu li {
      margin-right: 40px; }
      .page-footer__second-menu li a {
        color: #aaadae;
        text-transform: none;
        font-size: 15px;
        line-height: 40px; } }

@media (max-width: 640px) {
  .page-footer__wrapper {
    max-width: 430px; }
    .page-footer__wrapper hr {
      margin: 0;
      width: 100%; } }

.look {
  display: none; }

@media (max-width: 768px) {
  .look {
    width: 1408px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px; } }
  @media (max-width: 768px) and (max-width: 1880px) {
    .look {
      width: 1000px; } }
  @media (max-width: 768px) and (max-width: 1470px) {
    .look {
      width: 800px; } }
  @media (max-width: 768px) and (max-width: 1179px) {
    .look {
      width: 650px; } }
  @media (max-width: 768px) and (max-width: 1023px) {
    .look {
      width: 450px; } }
  @media (max-width: 768px) and (max-width: 768px) {
    .look {
      width: 470px; } }
  @media (max-width: 768px) and (max-width: 640px) {
    .look {
      width: 430px;
      box-sizing: border-box; } }
  @media (max-width: 768px) and (max-width: 430px) {
    .look {
      width: 320px;
      max-width: 320px;
      background-color: lightgrey; } }

@media (max-width: 768px) {
    .look__1 {
      height: 450px;
      width: 370px;
      background-image: url("../img/slide1.jpg");
      margin-bottom: 25px; }
    .look__2 {
      height: 450px;
      width: 370px;
      background-image: url("../img/slide2.jpg");
      position: relative; }
      .look__2 div {
        position: absolute;
        bottom: 140px;
        left: 80px;
        z-index: 101; }
        .look__2 div span {
          color: white;
          display: block;
          font-size: 18px;
          text-transform: uppercase;
          text-align: center;
          width: 200px; }
        .look__2 div span:nth-child(2) {
          font-size: 90px; }
      .look__2 a {
        background-image: url("../img/spritesheet.png");
        width: 176px;
        height: 44px;
        background-position: -10px -121px;
        position: absolute;
        bottom: 40px;
        left: 90px;
        z-index: 101;
        transition: all 0.3s ease-in-out 0s; }
    .look__2:hover:after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: all 0.5s ease-in-out 0s; }
    .look__2:hover a {
      left: 110px; } }

@media (max-width: 640px) {
  .look__1 {
    width: 320px; }
  .look__2 {
    width: 320px; }
    .look__2 div {
      left: 50px; }
    .look__2 a {
      left: 60px; }
  .look__2:hover a {
    left: 80px; } }

.mashkara-look__wrapper {
  width: 1408px;
  margin: 0 auto;
  display: flex;
  margin-left: 236px;
  padding-top: 120px; }
  @media (max-width: 1880px) {
    .mashkara-look__wrapper {
      width: 1000px; } }
  @media (max-width: 1470px) {
    .mashkara-look__wrapper {
      width: 800px; } }
  @media (max-width: 1179px) {
    .mashkara-look__wrapper {
      width: 650px; } }
  @media (max-width: 1023px) {
    .mashkara-look__wrapper {
      width: 450px; } }
  @media (max-width: 768px) {
    .mashkara-look__wrapper {
      width: 470px; } }
  @media (max-width: 640px) {
    .mashkara-look__wrapper {
      width: 430px;
      box-sizing: border-box; } }
  @media (max-width: 430px) {
    .mashkara-look__wrapper {
      width: 320px;
      max-width: 320px;
      background-color: lightgrey; } }

.mashkara-look__crab {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 73px; }
  .mashkara-look__crab img {
    margin-bottom: 145px; }
  .mashkara-look__crab span {
    font-size: 42px;
    line-height: 56px;
    text-transform: uppercase;
    align-self: center;
    color: #313334;
    letter-spacing: 5px; }

.mashkara-look__crab:hover img {
  margin-top: 10px;
  margin-bottom: 135px;
  transition: all 0.5s ease-in-out 0s; }

.mashkara-look__crab:hover span {
  border-bottom: 1px solid #313334;
  margin-bottom: -1px;
  transition: all 0.5s ease-in-out 0s; }

.mashkara-look__shop {
  height: 880px;
  width: 730px;
  background-image: url("../img/green.jpg");
  position: relative;
  display: flex;
  transition: all 0.5s ease-in-out 0s; }
  .mashkara-look__shop .mashkara-look__hover {
    display: none;
    transition: all 0.5s ease-in-out 0s; }

.mashkara-look__active {
  color: #ffffff;
  font-size: 42px;
  line-height: 55px;
  text-transform: uppercase;
  margin: 55% 35px;
  text-align: center;
  letter-spacing: 5px; }

.mashkara-look__shop:hover {
  background-image: url("../img/green-hover.jpg");
  transition: all 0.5s ease-in-out 0s; }
  .mashkara-look__shop:hover .mashkara-look__active {
    display: none; }
  .mashkara-look__shop:hover .mashkara-look__hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60% auto; }
    .mashkara-look__shop:hover .mashkara-look__hover span {
      color: #313334;
      font-size: 42px;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-bottom: 45px; }

@media (max-width: 1880px) {
  .mashkara-look__wrapper {
    margin-left: 180px; }
  .mashkara-look__crab {
    margin-right: 30px; }
    .mashkara-look__crab img {
      margin-bottom: 90px; }
  .mashkara-look__crab:hover img {
    margin-top: 10px;
    margin-bottom: 80px; }
  .mashkara-look__shop {
    min-width: 530px;
    max-width: 530px; } }

@media (max-width: 1470px) {
  .mashkara-look__crab {
    margin-right: 21px;
    margin-left: 6px; }
    .mashkara-look__crab img {
      margin-bottom: 60px;
      width: 450px; }
    .mashkara-look__crab span {
      font-size: 35px; }
  .mashkara-look__crab:hover img {
    margin-top: 10px;
    margin-bottom: 50px; }
  .mashkara-look__shop {
    height: 650px;
    min-width: 475px;
    max-width: 330px;
    background-size: cover; }
  .mashkara-look__active {
    font-size: 35px; } }

@media (max-width: 1179px) {
  .mashkara-look__wrapper {
    padding-top: 80px; }
  .mashkara-look__crab {
    margin-right: 15px;
    margin-left: -20px; }
    .mashkara-look__crab img {
      margin-bottom: 45px;
      width: 400px; }
    .mashkara-look__crab span {
      font-size: 30px; }
  .mashkara-look__crab:hover img {
    margin-top: 10px;
    margin-bottom: 35px; }
  .mashkara-look__shop {
    height: 600px;
    min-width: 376px;
    max-width: 376px;
    background-size: cover; }
  .mashkara-look__active {
    font-size: 30px; } }

@media (max-width: 1023px) {
  .mashkara-look__wrapper {
    padding-top: 40px;
    margin-left: 80px; }
  .mashkara-look__crab {
    margin-left: 7px; }
    .mashkara-look__crab img {
      margin-bottom: 25px;
      width: 300px; }
    .mashkara-look__crab span {
      font-size: 25px;
      line-height: 45px;
      margin-left: -20px; }
  .mashkara-look__crab:hover img {
    margin-bottom: 15px; }
  .mashkara-look__shop {
    height: 450px;
    min-width: 320px;
    max-width: 320px; }
  .mashkara-look__active {
    font-size: 25px;
    line-height: 45px;
    margin: 45% 35px; }
  .mashkara-look__shop:hover .mashkara-look__hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60% auto; }
    .mashkara-look__shop:hover .mashkara-look__hover span {
      color: #313334;
      font-size: 35px;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-bottom: 25px; } }

@media (max-width: 768px) {
  .mashkara-look__wrapper {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 80px;
    margin-bottom: 80px; }
  .mashkara-look__crab {
    margin-bottom: 80px; }
    .mashkara-look__crab img {
      width: 370px;
      height: 100%;
      margin: 0 auto;
      padding-left: 30px;
      margin-bottom: 80px; }
    .mashkara-look__crab span {
      font-size: 20px;
      margin: 0 auto; }
  .mashkara-look__crab:hover img {
    width: 370px;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 70px; }
  .mashkara-look__shop {
    min-width: 370px;
    max-width: 370px;
    height: 450px;
    margin: 0 auto; }
  .mashkara-look__active {
    font-size: 20px;
    margin: 65% 0;
    line-height: 25px; } }

@media (max-width: 640px) {
  .mashkara-look__crab img {
    padding-left: 0;
    width: 360px; } }

@media (max-width: 430px) {
  .mashkara-look__crab img {
    max-width: 310px; } }

.mash-kara__wrapper {
  width: 1408px;
  margin: 0 auto;
  margin-left: 295px; }
  @media (max-width: 1880px) {
    .mash-kara__wrapper {
      width: 1000px; } }
  @media (max-width: 1470px) {
    .mash-kara__wrapper {
      width: 800px; } }
  @media (max-width: 1179px) {
    .mash-kara__wrapper {
      width: 650px; } }
  @media (max-width: 1023px) {
    .mash-kara__wrapper {
      width: 450px; } }
  @media (max-width: 768px) {
    .mash-kara__wrapper {
      width: 470px; } }
  @media (max-width: 640px) {
    .mash-kara__wrapper {
      width: 430px;
      box-sizing: border-box; } }
  @media (max-width: 430px) {
    .mash-kara__wrapper {
      width: 320px;
      max-width: 320px;
      background-color: lightgrey; } }

.mash-kara__mob {
  display: none; }

.mash-kara__desktop {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mash-kara__desktop h2 {
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 130px; }
  .mash-kara__desktop span {
    width: 715px;
    text-align: center;
    color: #606060;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 240px; }
  .mash-kara__desktop div {
    background-color: #f4f4f4;
    height: 560px;
    width: 1407px;
    position: relative; }
    .mash-kara__desktop div img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }

@media (max-width: 1880px) {
  .mash-kara__wrapper {
    margin-left: 320px; }
  .mash-kara__desktop div {
    width: 1164px;
    height: 472px; }
    .mash-kara__desktop div img {
      width: 1000px; } }

@media (max-width: 1470px) {
  .mash-kara__wrapper {
    margin-left: 276px; }
  .mash-kara__desktop span {
    margin-bottom: 180px; }
  .mash-kara__desktop div {
    width: 911px;
    height: 425px; }
    .mash-kara__desktop div img {
      width: 900px; } }

@media (max-width: 1179px) {
  .mash-kara__wrapper {
    margin-left: 245px; }
  .mash-kara__desktop h2 {
    margin-top: 90px; }
  .mash-kara__desktop span {
    margin-bottom: 140px; }
  .mash-kara__desktop div {
    width: 759px;
    height: 354px; }
    .mash-kara__desktop div img {
      width: 750px; } }

@media (max-width: 1023px) {
  .mash-kara__wrapper {
    margin-left: 190px; }
  .mash-kara__desktop h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 45px; }
  .mash-kara__desktop span {
    margin-bottom: 100px;
    font-size: 18px;
    width: 600px; }
  .mash-kara__desktop div {
    width: 611px;
    height: 260px; }
    .mash-kara__desktop div img {
      width: 550px; } }

@media (max-width: 768px) {
  .mash-kara__wrapper {
    margin: 0 auto;
    margin-bottom: 75px; }
  .mash-kara__mob {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mash-kara__mob h2 {
      text-transform: uppercase;
      font-size: 70px;
      line-height: 65px;
      letter-spacing: 5px;
      text-align: left;
      margin: 0;
      width: 370px;
      margin-bottom: 40px; }
    .mash-kara__mob span {
      width: 370px;
      text-align: left;
      color: #606060;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 60px; }
  .mash-kara__desktop {
    display: none; } }

.slow__wrapper {
  width: 1408px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  margin-bottom: 245px; }
  @media (max-width: 1880px) {
    .slow__wrapper {
      width: 1000px; } }
  @media (max-width: 1470px) {
    .slow__wrapper {
      width: 800px; } }
  @media (max-width: 1179px) {
    .slow__wrapper {
      width: 650px; } }
  @media (max-width: 1023px) {
    .slow__wrapper {
      width: 450px; } }
  @media (max-width: 768px) {
    .slow__wrapper {
      width: 470px; } }
  @media (max-width: 640px) {
    .slow__wrapper {
      width: 430px;
      box-sizing: border-box; } }
  @media (max-width: 430px) {
    .slow__wrapper {
      width: 320px;
      max-width: 320px;
      background-color: lightgrey; } }

.slow h2 {
  text-transform: uppercase;
  font-size: 70px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0; }

.slow span {
  width: 1015px;
  text-align: center;
  color: #606060;
  font-size: 20px;
  line-height: 30px; }

.slow__wrapper:after {
  content: "";
  display: table;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 249px;
  height: 407px;
  background-position: -10px -185px;
  position: absolute;
  z-index: -1; }

@media (max-width: 1880px) {
  .slow__wrapper {
    margin-left: 376px; } }

@media (max-width: 1470px) {
  .slow__wrapper {
    margin-left: 276px; }
    .slow__wrapper span {
      width: 900px; } }

@media (max-width: 1179px) {
  .slow__wrapper {
    margin-left: 250px;
    margin-top: 190px;
    margin-bottom: 190px; }
    .slow__wrapper span {
      width: 750px; } }

@media (max-width: 1023px) {
  .slow__wrapper {
    margin-left: 199px;
    margin-top: 150px;
    margin-bottom: 190px; }
    .slow__wrapper h2 {
      font-size: 45px; }
    .slow__wrapper span {
      font-size: 18px;
      width: 600px; } }

@media (max-width: 768px) {
  .slow__wrapper:after {
    background-image: none; }
  .slow__wrapper {
    margin: 0 auto;
    margin-bottom: 75px; }
    .slow__wrapper h2 {
      font-size: 70px;
      line-height: 65px;
      width: 370px;
      text-align: left; }
    .slow__wrapper span {
      font-size: 20px;
      line-height: 30px;
      width: 370px;
      text-align: left; } }

.dress__wrapper {
  width: 1408px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 295px; }
  @media (max-width: 1880px) {
    .dress__wrapper {
      width: 1000px; } }
  @media (max-width: 1470px) {
    .dress__wrapper {
      width: 800px; } }
  @media (max-width: 1179px) {
    .dress__wrapper {
      width: 650px; } }
  @media (max-width: 1023px) {
    .dress__wrapper {
      width: 450px; } }
  @media (max-width: 768px) {
    .dress__wrapper {
      width: 470px; } }
  @media (max-width: 640px) {
    .dress__wrapper {
      width: 430px;
      box-sizing: border-box; } }
  @media (max-width: 430px) {
    .dress__wrapper {
      width: 320px;
      max-width: 320px;
      background-color: lightgrey; } }
  .dress__wrapper img {
    margin-right: 78px;
    height: 100%; }
  .dress__wrapper h3 {
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    margin-top: 0;
    width: 400px; }
  .dress__wrapper span {
    width: 600px;
    color: #606060;
    font-size: 20px;
    line-height: 30px; }
    .dress__wrapper span a {
      color: #313334; }

@media (max-width: 1880px) {
  .dress__wrapper {
    margin-left: 326px; }
    .dress__wrapper img {
      width: 634px;
      height: 100%;
      margin-right: 40px; }
    .dress__wrapper div {
      min-width: 500px; } }

@media (max-width: 1470px) {
  .dress__wrapper {
    margin-left: 280px; }
    .dress__wrapper h3 {
      font-size: 35px; }
    .dress__wrapper img {
      width: 345px;
      height: 100%;
      margin-right: 90px; }
    .dress__wrapper div {
      min-width: 485px; } }

@media (max-width: 1179px) {
  .dress__wrapper {
    margin-left: 249px; }
    .dress__wrapper img {
      height: 100%;
      width: 307px;
      margin-right: 80px; }
    .dress__wrapper div {
      min-width: 380px; }
    .dress__wrapper span {
      font-size: 18px; } }

@media (max-width: 1023px) {
  .dress__wrapper {
    margin-left: 216px; }
    .dress__wrapper img {
      height: 100%;
      width: 229px;
      margin-right: 81px; }
    .dress__wrapper div {
      min-width: 350px; }
    .dress__wrapper h3 {
      font-size: 30px;
      width: 200px;
      margin-bottom: 25px; }
    .dress__wrapper span {
      font-size: 16px; } }

@media (max-width: 768px) {
  .dress__wrapper {
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 30px; }
    .dress__wrapper img {
      height: 100%;
      width: 370px;
      margin: 0 auto;
      margin-bottom: 50px; }
    .dress__wrapper div {
      width: 370px;
      margin: 0 auto; }
    .dress__wrapper h3 {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 45px; }
    .dress__wrapper span {
      font-size: 20px;
      line-height: 30px;
      width: 370px;
      text-align: left; } }

.passion__wrapper {
  width: 1408px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-left: 295px;
  margin-bottom: 480px; }
  @media (max-width: 1880px) {
    .passion__wrapper {
      width: 1000px; } }
  @media (max-width: 1470px) {
    .passion__wrapper {
      width: 800px; } }
  @media (max-width: 1179px) {
    .passion__wrapper {
      width: 650px; } }
  @media (max-width: 1023px) {
    .passion__wrapper {
      width: 450px; } }
  @media (max-width: 768px) {
    .passion__wrapper {
      width: 470px; } }
  @media (max-width: 640px) {
    .passion__wrapper {
      width: 430px;
      box-sizing: border-box; } }
  @media (max-width: 430px) {
    .passion__wrapper {
      width: 320px;
      max-width: 320px;
      background-color: lightgrey; } }
  .passion__wrapper div {
    width: 505px;
    margin-top: 130px;
    position: relative; }
  .passion__wrapper h3 {
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    margin-top: 0;
    width: 400px; }
  .passion__wrapper span {
    width: 600px;
    color: #606060;
    font-size: 20px;
    line-height: 30px; }

.passion__karp-mob {
  display: none; }

.passion__karp-desktop {
  position: absolute;
  right: -1080px;
  top: -250px; }

@media (max-width: 1880px) {
  .passion__wrapper {
    margin-left: 239px;
    margin-bottom: 290px; }
  .passion__karp-desktop {
    right: -695px;
    top: -150px;
    width: 600px; } }

@media (max-width: 1470px) {
  .passion__wrapper {
    margin-left: 220px;
    margin-bottom: 190px; }
    .passion__wrapper h3 {
      font-size: 35px; }
    .passion__wrapper div {
      width: 450px; }
  .passion__karp-desktop {
    right: -500px;
    top: -100px;
    width: 480px; } }

@media (max-width: 1179px) {
  .passion__wrapper {
    margin-left: 190px; }
    .passion__wrapper div {
      width: 380px; }
    .passion__wrapper span {
      font-size: 18px; }
  .passion__karp-desktop {
    right: -440px;
    top: -50px;
    width: 440px; } }

@media (max-width: 1023px) {
  .passion__wrapper {
    margin-left: 111px;
    margin-bottom: 90px; }
    .passion__wrapper h3 {
      font-size: 30px;
      margin-bottom: 25px; }
    .passion__wrapper div {
      min-width: 300px;
      max-width: 300px;
      margin-top: 80px; }
    .passion__wrapper span {
      font-size: 16px; }
  .passion__karp-desktop {
    right: -345px;
    top: -20px;
    width: 330px; } }

@media (max-width: 768px) {
  .passion__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px; }
    .passion__wrapper div {
      min-width: 370px;
      margin: 0 auto;
      margin-top: 50px;
      position: relative; }
    .passion__wrapper h3 {
      font-size: 50px;
      line-height: 60px;
      width: 250px;
      margin-bottom: 45px; }
    .passion__wrapper span {
      font-size: 20px;
      line-height: 30px;
      text-align: left; }
  .passion__karp-mob {
    display: flex;
    margin: 0 auto; }
  .passion__karp-desktop {
    display: none; } }

.sew__wrapper {
  width: 1408px;
  margin: 0 auto;
  margin-left: 295px;
  min-height: 480px;
  margin-bottom: 200px; }
  @media (max-width: 1880px) {
    .sew__wrapper {
      width: 1000px; } }
  @media (max-width: 1470px) {
    .sew__wrapper {
      width: 800px; } }
  @media (max-width: 1179px) {
    .sew__wrapper {
      width: 650px; } }
  @media (max-width: 1023px) {
    .sew__wrapper {
      width: 450px; } }
  @media (max-width: 768px) {
    .sew__wrapper {
      width: 470px; } }
  @media (max-width: 640px) {
    .sew__wrapper {
      width: 430px;
      box-sizing: border-box; } }
  @media (max-width: 430px) {
    .sew__wrapper {
      width: 320px;
      max-width: 320px;
      background-color: lightgrey; } }
  .sew__wrapper div {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.5s ease-in-out 0s; }
  .sew__wrapper .sew__desktop {
    position: absolute;
    right: 14px;
    top: -200px;
    z-index: -1; }
  .sew__wrapper h3 {
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 5px;
    margin: 0px; }
  .sew__wrapper a {
    display: none;
    transition: all 0.5s ease-in-out 0s; }
  .sew__wrapper div:hover {
    transition: all 0.5s ease-in-out 0s; }
    .sew__wrapper div:hover h2 {
      width: auto;
      border-bottom: 1px solid #313334;
      margin-bottom: -1px;
      align-self: flex-start; }
    .sew__wrapper div:hover a {
      display: block;
      margin-top: 50px;
      transition: all 0.5s ease-in-out 0s; }

.sew__mob {
  display: none; }

@media (max-width: 1880px) {
  .sew__wrapper {
    margin-left: 239px;
    margin-bottom: 60px; }
    .sew__wrapper .sew__desktop {
      top: -90px;
      left: 501px;
      width: 640px;
      height: auto; } }

@media (max-width: 1470px) {
  .sew__wrapper {
    margin-left: 220px;
    margin-bottom: 60px; }
    .sew__wrapper h3 {
      font-size: 35px; }
    .sew__wrapper .sew__desktop {
      top: -60px;
      left: 437px;
      width: 500px;
      height: auto; } }

@media (max-width: 1179px) {
  .sew__wrapper {
    margin-left: 190px;
    min-height: 300px; }
    .sew__wrapper h3 {
      font-size: 30px; }
    .sew__wrapper div:hover a {
      display: block;
      margin-top: 30px; }
    .sew__wrapper .sew__desktop {
      top: -50px;
      left: 385px;
      width: 440px;
      height: auto; } }

@media (max-width: 1023px) {
  .sew__wrapper {
    margin-left: 110px;
    margin-bottom: 0px; }
    .sew__wrapper h3 {
      font-size: 30px; }
    .sew__wrapper div {
      width: 500px; }
    .sew__wrapper div:hover a {
      margin-top: 23px; }
    .sew__wrapper .sew__desktop {
      top: -15px;
      left: 322px;
      width: 325px; } }

@media (max-width: 768px) {
  .sew__wrapper {
    margin: 0 auto;
    margin-bottom: 80px; }
    .sew__wrapper h3 {
      font-size: 38px;
      line-height: 66px;
      min-width: 350px;
      max-width: 350px;
      margin: 0 auto; }
    .sew__wrapper a {
      display: block;
      margin-top: 23px;
      margin-left: 65px; }
    .sew__wrapper div:hover a {
      margin-top: 23px; }
  .sew__desktop {
    display: none; }
  .sew__mob {
    display: flex;
    margin-left: 65px;
    margin-bottom: 48px; } }

@media (max-width: 640px) {
  .sew__mob {
    width: 370px;
    height: auto;
    margin-right: 0; }
  .sew h3 {
    font-size: 38px;
    line-height: 66px;
    margin: 0 auto;
    letter-spacing: 2px; } }

.want__wrapper {
  width: 1408px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  min-height: 100vh;
  margin-bottom: 200px; }
  @media (max-width: 1880px) {
    .want__wrapper {
      width: 1000px; } }
  @media (max-width: 1470px) {
    .want__wrapper {
      width: 800px; } }
  @media (max-width: 1179px) {
    .want__wrapper {
      width: 650px; } }
  @media (max-width: 1023px) {
    .want__wrapper {
      width: 450px; } }
  @media (max-width: 768px) {
    .want__wrapper {
      width: 470px; } }
  @media (max-width: 640px) {
    .want__wrapper {
      width: 430px;
      box-sizing: border-box; } }
  @media (max-width: 430px) {
    .want__wrapper {
      width: 320px;
      max-width: 320px;
      background-color: lightgrey; } }
  .want__wrapper h2 {
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0; }
  .want__wrapper span {
    display: block;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    color: #606060;
    font-size: 20px;
    line-height: 30px; }

.want__mob {
  display: none; }

.want__desktop {
  margin: 0 auto;
  margin-top: 105px;
  margin-bottom: 90px; }

@media (max-width: 1880px) {
  .want__wrapper {
    margin-left: 376px; } }

@media (max-width: 1470px) {
  .want__wrapper {
    margin-left: 260px; }
    .want__wrapper span {
      width: 800px; }
  .want__desktop {
    margin-top: 80px;
    margin-left: 20px;
    width: 800px;
    height: auto; } }

@media (max-width: 1179px) {
  .want__wrapper {
    margin-left: 220px; }
    .want__wrapper span {
      width: 700px;
      font-size: 18px; }
  .want__desktop {
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 70px;
    width: 600px; } }

@media (max-width: 1023px) {
  .want__wrapper {
    margin-left: 200px; }
    .want__wrapper h2 {
      font-size: 45px; }
    .want__wrapper span {
      width: 615px;
      font-size: 16px; }
  .want__desktop {
    margin-left: -50px;
    width: 500px; } }

@media (max-width: 768px) {
  .want__wrapper {
    margin: 0 auto;
    -ms-grid-row-align: center;
        align-items: center;
    margin-bottom: 400px; }
    .want__wrapper h2 {
      font-size: 70px;
      line-height: 65px;
      width: 370px;
      text-align: left; }
    .want__wrapper span {
      font-size: 20px;
      line-height: 30px;
      width: 370px;
      text-align: left; }
  .want__desktop {
    display: none; }
  .want__mob {
    display: flex;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-left: 65px;
    margin-top: 50px; } }
