body {
  font-family: 'Forum', cursive;
  color: #000000;
  width: 100%;
  margin: 0;
  position: relative; }
  body .line {
    position: absolute;
    z-index: -2;
    height: 100%;
    border-left: 1px solid #888888;
    opacity: 0.1; }
  body .line1 {
    left: 236px; }
  body .line2 {
    left: 295px; }
  body .line3 {
    left: 494px; }
  body .line4 {
    left: 542px; }
  body .line5 {
    left: 705px; }
  body .line6 {
    left: 796px; }
  body .line7 {
    left: 971px; }
  body .line8 {
    left: 1051px; }
  body .line9 {
    left: 1240px; }
  body .line10 {
    left: 1270px; }
  body .line11 {
    left: 1465px; }
  body .line12 {
    left: 1509px; }
  body .line13 {
    left: 1703px; }
  body .line14 {
    left: 1725px; }
  body h1, body h2 {
    font-family: 'Forum', cursive;
    font-weight: normal; }
  body .fancybox-margin {
    margin-right: 0; }

@media only screen and (max-width: 768px) {
  body {
    min-width: 640px; } }

@font-face {
  font-family: 'Forum', cursive; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.button {
  color: #313334;
  text-transform: uppercase;
  padding: 22px 30px;
  border: 1px solid #313334;
  font-size: 18px;
  letter-spacing: 2px;
  width: 280px;
  text-align: center; }

.page-header {
  min-height: 820px;
  /*HAMBURGER*/ }
  .page-header__wrapper {
    position: relative;
    margin-left: 0; }
  .page-header__mobile {
    display: none; }
  .page-header__left {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 236px; }
    .page-header__left img {
      margin-top: 50px;
      margin-bottom: 119px; }
  .page-header__box {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    width: 99px;
    height: 33px;
    background-position: -10px -10px;
    margin-bottom: 100px; }
  .page-header__horizontal {
    color: #313334;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 130px; }
  .page-header__vertical {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-align: center;
    color: #888888;
    text-decoration: none;
    margin-bottom: 80px; }
  .page-header__center {
    margin-left: 236px;
    display: flex; }
  .page-header__look1 {
    background-image: url("../img/look1.jpg");
    width: 1229px;
    height: 820px;
    position: relative;
    margin-right: 44px; }
    .page-header__look1 div {
      position: absolute;
      bottom: 300px;
      left: 125px; }
    .page-header__look1 span {
      color: white;
      display: block;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      width: 200px; }
    .page-header__look1 span:nth-child(2) {
      font-size: 90px; }
  .page-header__look2 {
    background-image: url("../img/look2.jpg");
    width: 411px;
    height: 820px;
    position: relative; }
    .page-header__look2 a {
      background-image: url("../img/spritesheet.png");
      width: 176px;
      height: 44px;
      background-position: -10px -121px;
      position: absolute;
      top: 400px;
      right: 135px; }
  .page-header__look2:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .page-header__look2:hover a {
    top: 400px;
    right: 105px;
    z-index: 5; }
  .page-header__right {
    position: fixed;
    top: 30px;
    right: 90px; }
  .page-header__hamburger {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 19px;
    background-position: -5px -87px; }
  .page-header .hamburger-menu {
    position: absolute;
    top: -16px;
    /* left: 0; */
    right: -10px;
    /* bottom: 0; */
    margin: auto;
    width: 70px;
    height: 70px;
    cursor: pointer;
    /* text-align: center; */
    background: transparent;
    border-radius: 0; }
  .page-header .bar,
  .page-header .bar:after,
  .page-header .bar:before {
    width: 42px;
    border-radius: 2px;
    height: 2px;
    /* top: 2px; */
    background: #000; }
  .page-header .bar {
    position: relative;
    transform: translateY(33px) translateX(25px);
    background: #FFFFFF;
    transition: all 0ms 300ms; }
  .page-header .bar.animate {
    background: transparent; }
  .page-header .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    background: #FFFFFF;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .page-header .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    background: #FFFFFF;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .page-header .bar.animate:after {
    top: 0;
    width: 42px;
    top: 0px;
    left: 0px;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .page-header .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    width: 42px;
    top: 0px;
    left: 0px;
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
  .page-header .hamburger-menu {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .35s ease;
    -ms-transition: all .3s ease; }
  .page-header .hamburger-menu:hover {
    opacity: .7;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .35s ease;
    -ms-transition: all .3s ease; }
  .page-header .menu {
    display: none;
    position: absolute;
    padding-top: 265px;
    padding-bottom: 518px;
    top: 0;
    width: 100vw;
    background: white;
    background-image: url("../img/logo-menu.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    opacity: 0.9;
    z-index: 99;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .35s ease;
    -ms-transition: all .3s ease; }
    .page-header .menu ul, .page-header .menu li {
      margin: 0;
      padding: 0;
      list-style: none; }
    .page-header .menu a {
      text-decoration: none; }
    .page-header .menu .page-header__first-menu {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .page-header .menu .page-header__first-menu li {
        margin-right: 95px; }
        .page-header .menu .page-header__first-menu li a {
          color: #313334;
          font-size: 18px;
          text-transform: uppercase; }
    .page-header .menu .page-header__second-menu li {
      margin-top: 20px; }
      .page-header .menu .page-header__second-menu li a {
        color: #aaadae;
        text-transform: none;
        font-size: 16px; }
    .page-header .menu .page-header__second-menu li:first-child a {
      text-transform: uppercase;
      padding-bottom: 3px;
      border-bottom: 1px solid #aaadae; }
  .page-header .menu.open {
    left: 0%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .35s ease;
    -ms-transition: all .3s ease; }
  .page-header .menu_links a {
    display: block; }
  .page-header .menu_links a:hover {
    color: #000; }

.page-footer {
  background-color: #58595b; }
  .page-footer__wrapper {
    width: 1408px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-top: 160px; }
    @media (max-width: 1440px) {
      .page-footer__wrapper {
        width: 1440px; } }
    @media (max-width: 1179px) {
      .page-footer__wrapper {
        width: 1179px; } }
    @media (max-width: 1023px) {
      .page-footer__wrapper {
        width: 1023px; } }
    @media (max-width: 768px) {
      .page-footer__wrapper {
        width: 428px; } }
    .page-footer__wrapper ul, .page-footer__wrapper li {
      margin: 0;
      padding: 0;
      list-style: none; }
    .page-footer__wrapper a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px; }
    .page-footer__wrapper hr {
      width: 100%;
      margin-top: 40px; }
    .page-footer__wrapper span {
      color: #aaadae;
      margin-top: 20px;
      margin-bottom: 20px; }
      .page-footer__wrapper span a {
        color: #aaadae;
        text-decoration: underline; }
  .page-footer__first-menu {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .page-footer__first-menu li {
      margin-right: 95px;
      margin-bottom: 40px; }
      .page-footer__first-menu li a {
        text-transform: uppercase; }
      .page-footer__first-menu li a:hover {
        border-bottom: 1px solid #ffffff; }
  .page-footer__second-menu {
    display: flex;
    flex-direction: row; }
    .page-footer__second-menu li {
      margin-right: 40px; }
      .page-footer__second-menu li a {
        color: #aaadae;
        text-transform: none;
        font-size: 16px; }

.mashkara-look__wrapper {
  width: 1408px;
  margin: 0 auto;
  display: flex;
  margin-left: 236px;
  margin-top: 120px; }
  @media (max-width: 1440px) {
    .mashkara-look__wrapper {
      width: 1440px; } }
  @media (max-width: 1179px) {
    .mashkara-look__wrapper {
      width: 1179px; } }
  @media (max-width: 1023px) {
    .mashkara-look__wrapper {
      width: 1023px; } }
  @media (max-width: 768px) {
    .mashkara-look__wrapper {
      width: 428px; } }

.mashkara-look__crab {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 73px; }
  .mashkara-look__crab img {
    margin-bottom: 145px; }
  .mashkara-look__crab span {
    font-size: 42px;
    line-height: 56px;
    text-transform: uppercase;
    align-self: center;
    color: #313334;
    letter-spacing: 5px; }

.mashkara-look__crab:hover img {
  margin-top: 10px;
  margin-bottom: 135px; }

.mashkara-look__crab:hover span {
  border-bottom: 1px solid #313334;
  margin-bottom: -1px; }

.mashkara-look__shop {
  height: 880px;
  width: 730px;
  background-image: url("../img/green.jpg");
  position: relative;
  display: flex; }
  .mashkara-look__shop .mashkara-look__hover {
    display: none; }

.mashkara-look__active {
  color: #ffffff;
  font-size: 42px;
  line-height: 55px;
  text-transform: uppercase;
  margin: 55% 35px;
  text-align: center;
  letter-spacing: 5px; }

.mashkara-look__shop:hover {
  background-image: url("../img/green-hover.jpg"); }
  .mashkara-look__shop:hover .mashkara-look__active {
    display: none; }
  .mashkara-look__shop:hover .mashkara-look__hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60% auto; }
    .mashkara-look__shop:hover .mashkara-look__hover span {
      color: #313334;
      font-size: 42px;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-bottom: 45px; }

.mash-kara__wrapper {
  width: 1408px;
  margin: 0 auto;
  margin-left: 295px; }
  @media (max-width: 1440px) {
    .mash-kara__wrapper {
      width: 1440px; } }
  @media (max-width: 1179px) {
    .mash-kara__wrapper {
      width: 1179px; } }
  @media (max-width: 1023px) {
    .mash-kara__wrapper {
      width: 1023px; } }
  @media (max-width: 768px) {
    .mash-kara__wrapper {
      width: 428px; } }

.mash-kara__mob {
  display: none; }

.mash-kara__desktop {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mash-kara__desktop h2 {
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 130px; }
  .mash-kara__desktop span {
    width: 715px;
    text-align: center;
    color: #606060;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 240px; }
  .mash-kara__desktop div {
    background-color: #f4f4f4;
    height: 560px;
    width: 1407px;
    position: relative; }
    .mash-kara__desktop div img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }

.slow__wrapper {
  width: 1408px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  margin-bottom: 245px; }
  @media (max-width: 1440px) {
    .slow__wrapper {
      width: 1440px; } }
  @media (max-width: 1179px) {
    .slow__wrapper {
      width: 1179px; } }
  @media (max-width: 1023px) {
    .slow__wrapper {
      width: 1023px; } }
  @media (max-width: 768px) {
    .slow__wrapper {
      width: 428px; } }

.slow h2 {
  text-transform: uppercase;
  font-size: 70px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0; }

.slow span {
  width: 1015px;
  text-align: center;
  color: #606060;
  font-size: 20px;
  line-height: 30px; }

.slow__wrapper:after {
  content: "";
  display: table;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  width: 249px;
  height: 407px;
  background-position: -10px -185px;
  position: absolute;
  z-index: -1; }

.dress__wrapper {
  width: 1408px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 295px; }
  @media (max-width: 1440px) {
    .dress__wrapper {
      width: 1440px; } }
  @media (max-width: 1179px) {
    .dress__wrapper {
      width: 1179px; } }
  @media (max-width: 1023px) {
    .dress__wrapper {
      width: 1023px; } }
  @media (max-width: 768px) {
    .dress__wrapper {
      width: 428px; } }

.dress img {
  margin-right: 78px; }

.dress div {
  width: 1400px; }

.dress h2 {
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 5px;
  margin-bottom: 40px;
  margin-top: 0;
  width: 400px; }

.dress span {
  width: 600px;
  color: #606060;
  font-size: 20px;
  line-height: 30px; }
  .dress span a {
    color: #313334; }

.passion__wrapper {
  width: 1408px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-left: 295px;
  margin-bottom: 480px; }
  @media (max-width: 1440px) {
    .passion__wrapper {
      width: 1440px; } }
  @media (max-width: 1179px) {
    .passion__wrapper {
      width: 1179px; } }
  @media (max-width: 1023px) {
    .passion__wrapper {
      width: 1023px; } }
  @media (max-width: 768px) {
    .passion__wrapper {
      width: 428px; } }
  .passion__wrapper div {
    width: 505px;
    margin-top: 130px;
    position: relative; }
  .passion__wrapper h2 {
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    margin-top: 0;
    width: 400px; }
  .passion__wrapper span {
    width: 600px;
    color: #606060;
    font-size: 20px;
    line-height: 30px; }

.passion__karp-mob {
  display: none; }

.passion__karp-desktop {
  position: absolute;
  right: -1080px;
  top: -250px; }

.sew__wrapper {
  width: 1408px;
  margin: 0 auto;
  margin-left: 295px;
  min-height: 480px;
  margin-bottom: 200px; }
  @media (max-width: 1440px) {
    .sew__wrapper {
      width: 1440px; } }
  @media (max-width: 1179px) {
    .sew__wrapper {
      width: 1179px; } }
  @media (max-width: 1023px) {
    .sew__wrapper {
      width: 1023px; } }
  @media (max-width: 768px) {
    .sew__wrapper {
      width: 428px; } }
  .sew__wrapper div {
    display: flex;
    flex-direction: column;
    position: relative; }
  .sew__wrapper .sew__desktop {
    position: absolute;
    right: 14px;
    top: -200px;
    z-index: -1; }
  .sew__wrapper h2 {
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 5px;
    margin: 0px; }
  .sew__wrapper a {
    display: none; }
  .sew__wrapper div:hover h2 {
    width: auto;
    border-bottom: 1px solid #313334;
    margin-bottom: -1px;
    align-self: flex-start; }
  .sew__wrapper div:hover a {
    display: block;
    margin-top: 50px; }

.sew__mob {
  display: none; }

.want__wrapper {
  width: 1408px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 1440px) {
    .want__wrapper {
      width: 1440px; } }
  @media (max-width: 1179px) {
    .want__wrapper {
      width: 1179px; } }
  @media (max-width: 1023px) {
    .want__wrapper {
      width: 1023px; } }
  @media (max-width: 768px) {
    .want__wrapper {
      width: 428px; } }
  .want__wrapper h2 {
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0; }
  .want__wrapper span {
    display: block;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    color: #606060;
    font-size: 20px;
    line-height: 30px; }

.want__mob {
  display: none; }

.want__desktop {
  margin: 0 auto;
  margin-top: 105px;
  margin-bottom: 90px; }
