@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/body.scss";
@import "global/fonts.scss";
@import "global/slick.scss";
@import "global/buttons.scss";
@import "global/paralax.scss";


@import "blocks/page-header.scss";
@import "blocks/page-footer.scss";

// index.html
@import "blocks/look.scss";
@import "blocks/mashkara-look.scss";
@import "blocks/mash-kara.scss";
@import "blocks/slow.scss";
@import "blocks/dress.scss";
@import "blocks/passion.scss";
@import "blocks/sew.scss";
@import "blocks/want.scss";





