body {
  font-family: 'Forum', cursive;
  color: #000000;
  width: 100%;
  margin: 0;
  //background-color: lightgreen;

  position: relative;
  .line {
    position: absolute;
    z-index: -1;
    height: 100%;
    border-left: 1px solid $gray;
    //border-left: 1px solid red;
    opacity: 0.1;
  }
  .line1 {
    left: 236px;
  }
  .line2 {
    left: 295px;
  }
  .line3 {
    left: 494px;
  }
  .line4 {
    left: 542px;
  }
  .line5 {
    left: 705px;
  }
  .line6 {
    left: 796px;
  }
  .line7 {
    left: 971px;
  }
  .line8 {
    left: 1051px;
  }
  .line9 {
    left: 1240px;
  }
  .line10 {
    left: 1270px;
  }
  .line11 {
    left: 1465px;
  }
  .line12 {
    left: 1509px;
  }
  .line13 {
    left: 1703px;
  }
  .line14 {
    left: 1725px;
  }

    h1,h2 {
      font-family: 'Forum', cursive;
      font-weight: normal;
    }
    .fancybox-margin {
      margin-right: 0;
    }
}

@media #{$desktop2-widths} {
  body {
    .line1 {
      left: 180px;
    }
    .line2 {
      left: 239px;
      //border-color: red;

    }
    .line3 {
      left: 328px;
      display: none;
    }
    .line4 {
      left: 476px;
      display: none;
    }
    .line5 {
      left: 700px;
    }
    .line6 {
      left: 740px;
    }
    .line7 {
      left: 873px;
      //border-color: red;
    }
    .line8 {
      left: 913px;
    }
    .line9 {
      left: 1014px;
      display: none;
    }
    .line10 {
      left: 1059px;
      display: none;
    }
    .line11 {
      left: 1117px;
    }
    .line12 {
      left: 1157px;
    }
    .line13 {
      left: 1402px;

    }
    .line14 {
      left: 1424px;
      //border-color: red;
    }
  }
}
