@mixin respond-to($media) {
	@media only screen and #{$media} {
		@content;
	}
}

@mixin container() {
	width: 1408px;
	margin: 0 auto;
	@media #{$desktop2-widths} {
		//width: 1244px;
		width: 1000px;
	}
	@media #{$desktop3-widths} {
		width: 800px;
	}
	@media #{$desktop4-widths} {
		width: 650px;
	}
	@media #{$desktop5-widths} {
		width: 450px;
	}
	@media #{$tablet-widths} {
		width: 470px;
		//width: 550px;
		//min-width: 90%;
		//background-color: lightgrey;
	}
	@media #{$tablet2-widths} {
		width: 430px;
		//width: 550px;
		//min-width: 90%;
		//background-color: green;
		box-sizing: border-box;
	}
}

@mixin side-padding {
	padding-left: 15px;
	padding-right: 15px;

		@media #{$desktop-widths}
		 {
			padding-left: 30px;
		 	padding-right: 30px;
	  }
}


@mixin side-margin {
	margin-left: 15px;
	margin-right: 15px;

		@media #{$desktop-widths}
		 {
			margin-left: 50px;
		 	margin-right: 50px;
	  }
}
