$desktop2-widths: "(max-width: 1880px)";
$desktop3-widths: "(max-width: 1470px)";
$desktop4-widths: "(max-width: 1179px)";
$desktop5-widths: "(max-width: 1023px)";
$tablet-widths: "(max-width: 768px)"; // готово
$tablet2-widths: "(max-width: 640px)"; // до 430 (мин по макету)
//$tablet3-widths: "(max-width: 430)";

$white: #ffffff;
$black: #313334;
$gray: #888888;
$gray2: #606060;
$orange: #fb9f18;
$rgbl: #00919b;
