.dress {
  &__wrapper {
    @include container;
    display: flex;
    flex-direction: row;
    //align-items: center;
    justify-content: center;
    margin-left: 295px;

    img {
      margin-right: 78px;
      height: 100%;
    }
    div {
      //min-width: 1400px;
    }
    h3 {
      text-transform: uppercase;
      font-size: 48px;
      letter-spacing: 5px;
      //text-align: center;
      margin-bottom: 40px;
      margin-top: 0;
      width: 400px;
    }
    span {
      width: 600px;
      //text-align: center;
      color: $gray2;
      font-size: 20px;
      line-height: 30px;
      //margin-bottom: 240px;
      a {
        color: #313334;
      }
    }
  }
}

@media #{$desktop2-widths} {
  .dress {
    &__wrapper {
      margin-left: 326px;

      img {
        width: 634px;
        height: 100%;
        margin-right: 40px;
      }
      div {
        min-width: 500px;
      }
    }
  }
}

@media #{$desktop3-widths} {
  .dress {
    &__wrapper {
      margin-left: 280px;

      h3 {
        font-size: 35px;
      }

      img {
        width: 345px;
        height: 100%;
        margin-right: 90px;
      }
      div {
        min-width: 485px;
      }
    }
  }
}

@media #{$desktop4-widths} {
  .dress {
    &__wrapper {
      margin-left: 249px;

      img {
        height: 100%;
        width: 307px;
        margin-right: 80px;
      }
      div {
        min-width: 380px;
      }
      span {
        font-size: 18px;
      }
    }
  }
}

@media #{$desktop5-widths} {
  .dress {
    &__wrapper {
      margin-left: 216px;

      img {
        height: 100%;
        width: 229px;
        margin-right: 62px;
      }
      div {
        min-width: 350px;
      }
      h3 {
        font-size: 30px;
        width: 200px;
        margin-bottom: 25px;
      }
      span {
        font-size: 16px;
      }
    }
  }
}

@media #{$tablet-widths} {
  .dress {
    &__wrapper {
      margin: 0 auto;
      flex-direction: column;
      margin-bottom: 30px;

      img {
        height: 100%;
        width: 370px;
        margin: 0 auto;
        margin-bottom: 50px;
      }
      div {
        width: 370px;
        margin: 0 auto;
      }
      h3 {
        font-size: 50px;
        line-height: 60px;
        //width: 200px;
        margin-bottom: 45px;
      }
      span {
        font-size: 20px;
        line-height: 30px;
        width: 370px;
        text-align: left;
      }
    }
  }
}