.mashkara-look {
  &__wrapper {
    @include container;
    display: flex;
    margin-left: 236px;
    margin-top: 120px;
  }
  &__crab {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 73px;



    img {
      margin-bottom: 145px;
    }

    span {
      font-size: 42px;
      line-height: 56px;
      text-transform: uppercase;
      //width: 372px;
      //text-align: center;
      align-self: center;
      color: $black;
      letter-spacing: 5px;
    }
  }
  &__crab:hover {
    img {
      margin-top: 10px;
      margin-bottom: 135px;
    }
    span {
      border-bottom: 1px solid $black;
      margin-bottom: -1px;
    }
  }
  &__shop {
    height: 880px;
    width: 730px;
    background-image: url("../img/green.jpg");
    position: relative;
    display: flex;

    .mashkara-look__hover {
      display: none;
    }
  }
  &__active {
    color: #ffffff;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
    margin: 55% 35px;
    //width: 663px;
    text-align: center;
    letter-spacing: 5px;

  }

  &__shop:hover {
    background-image: url("../img/green-hover.jpg");

    .mashkara-look__active {
      display: none;
    }

    .mashkara-look__hover {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 60% auto;

      span {
        color: $black;
        font-size: 42px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 45px;
      }
    }
  }
}