.mash-kara {
  &__wrapper {
    @include container;
    margin-left: 295px;
  }
  &__mob {
    display: none;
  }
  &__desktop {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      text-transform: uppercase;
      font-size: 70px;
      letter-spacing: 5px;
      text-align: center;
      margin-bottom: 40px;
      margin-top: 130px;
    }
    span {
      width: 715px;
      text-align: center;
      color: $gray2;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 240px;
    }
    div {
      background-color: #f4f4f4;
      height: 560px;
      width: 1407px;
      position: relative;
        img {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
    }
  }
}

@media #{$desktop2-widths} {
  .mash-kara {
    &__wrapper {
      margin-left: 320px;
    }
    &__desktop {
      div {
        width: 1164px;
        height: 472px;

        img {
          width: 1000px;
        }
      }
    }
  }
}

@media #{$desktop3-widths} {
  .mash-kara {
    &__wrapper {
      margin-left: 276px;
    }
    &__desktop {
      span {
        margin-bottom: 180px;
      }
      div {
        width: 911px;
        height: 425px;

        img {
          width: 900px;
        }
      }
    }
  }
}

@media #{$desktop4-widths} {
  .mash-kara {
    &__wrapper {
      margin-left: 245px;
    }
    &__desktop {
      h2 {
        margin-top: 90px;
      }
      span {
        margin-bottom: 140px;
      }
      div {
        width: 759px;
        height: 354px;

        img {
          width: 750px;
        }
      }
    }
  }
}

@media #{$desktop5-widths} {
  .mash-kara {
    &__wrapper {
      margin-left: 201px;
    }
    &__desktop {
      h2 {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 45px;
      }
      span {
        margin-bottom: 100px;
        font-size: 18px;
        width: 600px;
      }
      div {
        width: 611px;
        height: 260px;

        img {
          width: 550px;
        }
      }
    }
  }
}

@media #{$tablet-widths} {
  .mash-kara {
    &__wrapper {
      margin: 0 auto;
      margin-bottom: 75px;
    }
    &__mob {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        text-transform: uppercase;
        font-size: 70px;
        line-height: 65px;
        letter-spacing: 5px;
        text-align: left;
        margin: 0;
        width: 370px;
        margin-bottom: 40px;
        //background-color: coral;
      }
      span {
        width: 370px;
        text-align: left;
        color: $gray2;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 60px;
      }
    }
    &__desktop {
      display: none;
    }
  }
}