.mashkara-look {
  &__wrapper {
    @include container;
    display: flex;
    margin-left: 236px;
    //margin-top: 120px;
    padding-top: 120px;
  }
  &__crab {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 73px;

    img {
      margin-bottom: 145px;
    }

    span {
      font-size: 42px;
      line-height: 56px;
      text-transform: uppercase;
      //width: 372px;
      //text-align: center;
      align-self: center;
      color: $black;
      letter-spacing: 5px;
    }
  }
  &__crab:hover {


    img {
      margin-top: 10px;
      margin-bottom: 135px;

      -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
    }
    span {
      border-bottom: 1px solid $black;
      margin-bottom: -1px;

      -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
    }
  }
  &__shop {
    height: 880px;
    width: 730px;
    background-image: url("../img/green.jpg");
    position: relative;
    display: flex;

    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;

    .mashkara-look__hover {
      display: none;

      -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
    }
  }
  &__active {
    color: #ffffff;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
    margin: 55% 35px;
    //width: 663px;
    text-align: center;
    letter-spacing: 5px;

  }

  &__shop:hover {
    background-image: url("../img/green-hover.jpg");
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;

    .mashkara-look__active {
      display: none;
    }

    .mashkara-look__hover {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 60% auto;

      span {
        color: $black;
        font-size: 42px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 45px;
      }
    }
  }
}

@media #{$desktop2-widths} {
  .mashkara-look {
    &__wrapper {
      margin-left: 180px;
    }
    &__crab {
      margin-right: 30px;

      img {
        margin-bottom: 90px;
      }
    }
    &__crab:hover {
      img {
        margin-top: 10px;
        margin-bottom: 80px;
      }
    }
    &__shop {
      min-width: 530px;
      max-width: 530px;
    }
  }
}

@media #{$desktop3-widths} {
  .mashkara-look {
    &__crab {
      margin-right: 21px;
      margin-left: 6px;

      img {
        margin-bottom: 60px;
        width: 450px;
      }
      span {
        font-size: 35px;
      }
    }
    &__crab:hover {
      img {
        margin-top: 10px;
        margin-bottom: 50px;
      }
    }
    &__shop {
      height: 650px;
      min-width: 475px;
      max-width: 330px;
      background-size: cover;
    }
    &__active {
      font-size: 35px;
    }
  }
}

@media #{$desktop4-widths} {
  .mashkara-look {
    &__wrapper {
      //margin-top: 80px;
      padding-top: 80px;
    }
    &__crab {
      margin-right: 15px;
      margin-left: -20px;

      img {
        margin-bottom: 45px;
        width: 400px;
      }
      span {
        font-size: 30px;
      }
    }
    &__crab:hover {
      img {
        margin-top: 10px;
        margin-bottom: 35px;
      }
    }
    &__shop {
      height: 600px;
      min-width: 376px;
      max-width: 376px;
      background-size: cover;
    }
    &__active {
      font-size: 30px;
    }
  }
}

@media #{$desktop5-widths} {
  .mashkara-look {
    &__wrapper {
      //margin-top: 40px;
      padding-top: 40px;
      margin-left: 80px;
    }
    &__crab {
      margin-left: 7px;

      img {
        margin-bottom: 25px;
        width: 300px;
      }
      span {
        font-size: 25px;
        line-height: 45px;
        margin-left: -20px;
      }
    }
    &__crab:hover {
      img {
        margin-bottom: 15px;
      }
    }
    &__shop {
      height: 450px;
      min-width: 320px;
      max-width: 320px;
      //background-size: cover;
    }
    &__active {
      font-size: 25px;
      line-height: 45px;
      margin: 45% 35px;
    }
    &__shop:hover {
      .mashkara-look__hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 60% auto;

        span {
          color: $black;
          font-size: 35px;
          letter-spacing: 5px;
          text-transform: uppercase;
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media #{$tablet-widths} {
  .mashkara-look {
    &__wrapper {
      flex-direction: column;
      margin: 0 auto;
      //margin-top: 80px;
      padding-top: 80px;
      margin-bottom: 80px;
    }
    &__crab {
      margin-bottom: 80px;
      img {
        width: 370px;
        height: 100%;
        margin: 0 auto;
        padding-left: 30px;
        margin-bottom: 80px;
      }
      span {
        font-size: 20px;
        margin: 0 auto;
      }
    }
    &__crab:hover {
      img {
        width: 370px;
        height: 100%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 70px;
      }
    }
    &__shop {
      min-width: 370px;
      max-width: 370px;
      height: 450px;
      margin: 0 auto;
    }
    &__active {
      font-size: 20px;
      margin: 65% 0;
      line-height: 25px;
      //letter-spacing: 2px;
    }

  }
}

@media #{$tablet2-widths} {
  .mashkara-look {
    &__wrapper {
    }
    &__crab {
      img {
        padding-left: 0;
        width: 360px;
        //margin-left: -50px;
      }

    }
  }
}

@media #{$tablet3-widths} {
  .mashkara-look {
    &__wrapper {
    }
    &__crab {
      img {
        //padding-left: 0;
        max-width: 320px;
      }

    }
  }
}

