.mash-kara {
  &__wrapper {
    @include container;
    margin-left: 295px;
  }
  &__mob {
    display: none;
  }
  &__desktop {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      text-transform: uppercase;
      font-size: 70px;
      letter-spacing: 5px;
      text-align: center;
      margin-bottom: 40px;
      margin-top: 130px;
    }
    span {
      width: 715px;
      text-align: center;
      color: $gray2;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 240px;
    }
    div {
      background-color: #f4f4f4;
      height: 560px;
      width: 1407px;
      position: relative;
        img {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
    }
  }
}