.page-footer {
  background-color: #58595b;

  &__wrapper {
    @include container;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-top: 160px;

    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
    }
    hr {
      width: 100%;
      margin-top: 40px;
    }
    span {
      color: #aaadae;
      margin-top: 20px;
      margin-bottom: 20px;
        a {
          color: #aaadae;
          text-decoration: underline;
        }
    }

  }
  &__first-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;


    li {
      margin-right: 95px;
      margin-bottom: 40px;
      a {
        text-transform: uppercase;
      }
      a:hover {
        border-bottom: 1px solid #ffffff;
      }
    }

  }
  &__second-menu {
    display: flex;
    flex-direction: row;

    li {
      margin-right: 40px;
      a {
        color: #aaadae;
        text-transform: none;
        font-size: 16px;
      }
    }
  }
}

@media #{$desktop2-widths} {
  .page-footer {
    min-width: 100%;
  }
}

@media #{$desktop3-widths} {
  .page-footer {

    &__wrapper {
      margin-top: 100px;
      padding-top: 30px;

      hr {
        margin-top: 30px;
      }
      span {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    &__first-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
        margin-bottom: 30px;
      }
    }
  }
}

@media #{$desktop4-widths} {
  .page-footer {

    &__wrapper {
      margin-top: 100px;
      padding-top: 30px;

      hr {
        margin-top: 30px;
      }
      span {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    &__first-menu {
      //justify-content: space-between;

      li {
        margin-left: 40px;
        margin-right: 40px;

        a {
          font-size: 14px;
        }
      }
    }
  }
}

@media #{$desktop5-widths} {
  .page-footer {

    &__wrapper {
      margin-top: 90px;
      padding-top: 30px;
      width: 600px;

      hr {
        margin-top: 30px;
      }
      span {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    &__first-menu {
      //justify-content: space-between;

      li {
        margin-left: 40px;
        margin-right: 40px;

        a {
          font-size: 12px;
        }
      }
    }
  }
}