.page-header {
  min-height: 820px;
  &__wrapper {
    position: relative;
    //@include container;
    margin-left: 0;
  }
  &__mobile {
    display: none;
  }
  &__left {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 236px;

    img {
      margin-top: 50px;
      margin-bottom: 119px;
    }
  }
  &__box {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    width: 99px;
    height: 33px;
    background-position: -10px -10px;
    margin-bottom: 100px;
  }
  &__horizontal {
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 130px;
  }
  &__vertical {
    writing-mode: vertical-rl;
    text-align: center;
    color: $gray;
    text-decoration: none;
    margin-bottom: 80px;
  }

  //псевдо-слайдер
  &__center {
    margin-left: 236px;
    display: flex;
  }
  &__look1 {
    background-image: url("../img/look1.jpg");
    width: 1229px;
    height: 820px;
    position: relative;
    margin-right: 44px;

    div {
      position: absolute;
      bottom: 300px;
      left: 125px;
    }

    span {
      color: white;
      display: block;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      width: 200px;
    }
    span:nth-child(2) {
      font-size: 90px;
    }
  }
  &__look2 {
    background-image: url("../img/look2.jpg");
    width: 411px;
    height: 820px;
    position: relative;

    a {
      background-image: url("../img/spritesheet.png");
      width: 176px;
      height: 44px;
      background-position: -10px -121px;
      position: absolute;
      top: 400px;
      right: 135px;
    }
  }
  &__look2:hover {
    &:after{
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
    }
    a {
      top: 400px;
      right: 105px;
      z-index: 5;
    }
  }

  &__right {
    position: fixed;
    top: 30px;
    right: 90px;
  }
  &__hamburger {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 19px;
    background-position: -5px -87px;
  }

  /*HAMBURGER*/
  .hamburger-menu {
    position: absolute;
    top: -16px;
    /* left: 0; */
    right: -10px;
    /* bottom: 0; */
    margin: auto;
    width: 70px;
    height: 70px;
    cursor: pointer;
    /* text-align: center; */
    background: transparent;
    border-radius: 0;
  }

  .bar,
  .bar:after,
  .bar:before {
    width: 42px;
    border-radius: 2px;
    height: 2px;
    /* top: 2px; */
    background: #000;
  }

  .bar {
    position: relative;
    transform: translateY(33px) translateX(25px);
    background: #FFFFFF;
    transition: all 0ms 300ms;
  }
  .bar.animate {
    background: transparent;
  }

  .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    background: #FFFFFF;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    background: #FFFFFF;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .bar.animate:after {
    top: 0;
    width: 42px;
    top: 0px;
    left: 0px;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    width: 42px;
    top: 0px;
    left: 0px;
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburger-menu{
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .35s ease;
    -ms-transition:all .3s ease;
  }
  .hamburger-menu:hover{
    opacity: .7;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .35s ease;
    -ms-transition:all .3s ease;
  }

  //МЕНЮ
  .menu {
    display: none;
    position: absolute;
    padding-top: 265px;
    padding-bottom: 518px;
    top: 0;
    //left: 50%;
    width: 100vw;
    //height: 100vh;
    background: white;
    background-image: url("../img/logo-menu.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    opacity: 0.9;
    z-index: 99;
    -webkit-transition: all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .35s ease;
    -ms-transition:all .3s ease;

    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    a {
      text-decoration: none;
    }
    .page-header__first-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      li {
        margin-right: 95px;
        a {
          color: #313334;
          font-size: 18px;
          text-transform: uppercase;
        }
      }

    }
    .page-header__second-menu {
      li {
        margin-top: 20px;
        a {
          color: #aaadae;
          text-transform: none;
          font-size: 16px;
        }
      }
      li:first-child {
        a {
          text-transform: uppercase;
          //text-decoration: underline;
          padding-bottom: 3px;
          border-bottom: 1px solid #aaadae;
        }
      }

    }

  }

  .menu.open {
    left: 0%;
    -webkit-transition: all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .35s ease;
    -ms-transition:all .3s ease;
  }

  //.menu_links {
  //  position: absolute;
  //  top: 18%;
  //  right: 13.5%;
  //  font-size: 72px;
  //  text-align: right;
  //}

  .menu_links a {
    display: block;
  }

  .menu_links a:hover {
    color: #000;
  }
}

@include respond-to($desktop2-widths) {


}

