.page-header {
  //min-height: 820px;
  &__wrapper {
    position: relative;
    //@include container;
    margin-left: 0;
  }
  &__mobile {
    display: none;
  }
  &__left {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 236px;
    background-color: #fff;

    img:first-child {
      margin-top: 50px;
      margin-bottom: 119px;
    }
  }
  &__box {
    //background-image: url("../img/spritesheet.png");
    //background-repeat: no-repeat;
    display: block;
    width: 99px;
    //height: 33px;
    height: 100%;
    background-position: -10px -10px;
    margin-bottom: 100px;
  }
  &__horizontal {
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 130px;
  }
  &__vertical {
    writing-mode: vertical-rl;
    text-align: center;
    color: $gray;
    text-decoration: none;
    margin-bottom: 80px;
  }

  //псевдо-слайдер
  &__center {
    margin-left: 236px;
    display: flex;
    width: auto;
  }
  &__look1 {
    background-image: url("../img/look1.jpg");
    width: 1229px;
    height: 820px;
    position: relative;
    margin-right: 44px;

    div {
      position: absolute;
      bottom: 300px;
      left: 125px;
    }

    span {
      color: white;
      display: block;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      width: 200px;
    }
    span:nth-child(2) {
      font-size: 90px;
    }
  }
  &__look2 {
    background-image: url("../img/look2.jpg");
    width: 411px;
    height: 820px;
    position: relative;
    z-index: 101;

    // стрелка
    a {
      background-image: url("../img/spritesheet.png");
      width: 176px;
      height: 44px;
      background-position: -10px -121px;
      position: absolute;
      top: 410px;
      left: 100px;

      .sticky {
        position: fixed;
        z-index: 100;
      }
      .stop {
        position: relative;
        z-index: 100;
      }
    }
  }
  &__look2:hover {
    &:after{
      content:'';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
    }
    a {
      //top: 400px;
      left: 130px;
      z-index: 5;
    }
  }

  &__right {
    position: fixed;
    top: 30px;
    right: 90px;
  }
  //&__hamburger {
  //  background-image: url("../img/spritesheet.png");
  //  background-repeat: no-repeat;
  //  display: block;
  //  width: 30px;
  //  height: 19px;
  //  background-position: -5px -87px;
  //  z-index: 200;
  //}

  /*HAMBURGER*/
  .hamburger-menu {
    position: absolute;
    top: -16px;
    /* left: 0; */
    right: -10px;
    /* bottom: 0; */
    margin: auto;
    width: 70px;
    height: 70px;
    cursor: pointer;
    /* text-align: center; */
    background: transparent;
    border-radius: 0;
    z-index: 500;
  }

  .bar,
  .bar:after,
  .bar:before {
    width: 42px;
    border-radius: 2px;
    height: 2px;
    /* top: 2px; */
    background: #000;
  }

  .bar {
    position: relative;
    transform: translateY(33px) translateX(25px);
    background: #FFFFFF;
    transition: all 0ms 300ms;
  }
  .bar.animate {
    background: transparent;
  }

  .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    background: #FFFFFF;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    background: #FFFFFF;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .bar.animate:after {
    top: 0;
    width: 42px;
    top: 0px;
    left: 0px;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    width: 42px;
    top: 0px;
    left: 0px;
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburger-menu{
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .35s ease;
    -ms-transition:all .3s ease;
  }
  .hamburger-menu:hover{
    opacity: .7;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .35s ease;
    -ms-transition:all .3s ease;
  }

  //МЕНЮ
  .menu {
    display: none;
    position: absolute;
    padding-top: 265px;
    padding-bottom: 518px;
    top: 0;
    //left: 50%;
    width: 100vw;
    //height: 100vh;
    background: white;
    background-image: url("../img/logo-menu.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    opacity: 0.9;
    z-index: 500;
    -webkit-transition: all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .35s ease;
    -ms-transition:all .3s ease;

    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    a {
      text-decoration: none;
    }
    .page-header__first-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      li {
        margin-right: 95px;
        a {
          color: #313334;
          font-size: 18px;
          text-transform: uppercase;
        }
      }

    }
    .page-header__second-menu {
      li {
        margin-top: 20px;
        a {
          color: #aaadae;
          text-transform: none;
          font-size: 16px;
        }
      }
      li:first-child {
        a {
          text-transform: uppercase;
          //text-decoration: underline;
          padding-bottom: 3px;
          border-bottom: 1px solid #aaadae;
        }
      }

    }

  }

  .menu.open {
    display: block;
    z-index: 501;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .35s ease;
    -ms-transition: all .3s ease;
  }

  //.menu_links {
  //  position: absolute;
  //  top: 18%;
  //  right: 13.5%;
  //  font-size: 72px;
  //  text-align: right;
  //}

  .menu_links a {
    display: block;
  }

  .menu_links a:hover {
    color: #000;
  }
}

@media #{$desktop2-widths} {
  .page-header {
    &__left {
      width: 180px;
    }
    &__center {
      margin-left: 180px;
    }
    &__look1 {
      background-size: cover;
      background-position-x: right;
      min-width: 650px;
      height: 620px;
      margin-right: 39px;
    }
    &__look2 {
      width: 411px;
      height: 620px;
      background-position-x: right;
      background-position-y: bottom;

      a {
        top: 310px;
        left: 50px;
        //left: 80px;
      }
    }
    &__look2:hover {
      a {
        left: 80px;
      }
    }
    .menu {
      padding-top: 165px;
      padding-bottom: 318px;
      background-size: contain;
    }
  }
}

@media #{$desktop3-widths} {
  .page-header {
    &__left {
    }

    &__look1 {
      background-size: cover;
      background-position-x: right;
      min-width: 650px;
      height: 620px;
      margin-right: 39px;

      div {
        bottom: 150px;
      }


    }
    &__look2 {
      width: 411px;
      height: 620px;
      background-position-x: right;
      background-position-y: bottom;

      a {
        top: 310px;
        left: 50px;
        //left: 80px;
      }
    }
    &__look2:hover {
      a {
        left: 80px;
      }
    }
    .menu {
      padding-top: 165px;
      padding-bottom: 318px;
      background-size: contain;
    }
  }
}

@media #{$desktop4-widths} {
  .page-header {
    &__left {
      width: 150px;
    }
    &__center {
      margin-left: 150px;
    }
    &__look1 {
      margin-right: 20px;
      height: 500px;
    }
    &__look2 {
      height: 500px;
      background-position-x: right;
      background-position-y: bottom;

      a {
        left: 30px;
        width: 130px;
        background-position: -70px -121px;
      }
    }
    &__look2:hover {
      a {
        left: 50px;
      }
    }
  }
}

@media #{$desktop5-widths} {
  .page-header {
    &__left {
      width: 80px;

      img:first-child {
        width: 60px;
        margin-top: 30px;
        margin-bottom: 50px;
      }

    }
    &__box {
      width: 60px;
      margin-bottom: 50px;
    }
    &__horizontal {
      margin-bottom: 50px;
    }
    &__vertical {
      margin-bottom: 50px;
    }

    &__center {
      margin-left: 80px;
    }
    &__look1 {
      background-size: cover;
      background-position-x: right;
      min-width: 400px;
      height: 457px;

      div {
        bottom: 100px;
      }
    }
    &__look2 {
      background-position-x: center;
      background-position-y: 80%;
      height: 457px;

      a {
        top: 210px;
        left: 20px;
      }
    }
    &__look2:hover {
      a {
        left: 30px;
      }
    }
  }
}

@media #{$tablet-widths} {
  .page-header {
    height: 500px;
    position: fixed;
    top: 0;
    width: 100%;

    &__mobile {
      display: block;
      position: relative;

      //left: auto;
      //margin: 0 auto;
      //z-index: 7000px;
    }

    &__top-wrapper {
      @include container;
      //height: 80px;
      //background-color: darkseagreen;
      //padding: 0 28px;
      box-sizing: border-box;
      margin-bottom: 5px;
    }
    &__logo {
      margin-bottom: 28px;
      margin-top: 28px;
      margin-left: 28px;
    }

    &__top {
      background-color: #efefef;
      //margin-bottom: 10px;
      position: relative;

      .hamburger-menu {
        right: 80px;
        top: 10px;
      }

      .bar,
      .bar:after,
      .bar:before {
        width: 30px;
        border-radius: 2px;
        height: 2px;
        background: #000;
      }

      .bar {
        position: relative;
        transform: translateY(33px) translateX(25px);
        background: #000;
        transition: all 0ms 300ms;
      }
      .bar.animate {
        background: transparent;
      }

      .bar:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 8px;
        background: #000;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .bar:after {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        background: #000;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .bar.animate:after {
        top: 0;
        width: 30px;
        left: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .bar.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        width: 42px;
        top: 0px;
        left: 0px;
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .hamburger-menu{
        -webkit-transition:all .3s ease;
        -moz-transition:all .3s ease;
        -o-transition:all .35s ease;
        -ms-transition:all .3s ease;
      }
      .hamburger-menu:hover{
        opacity: .7;
        -webkit-transition:all .3s ease;
        -moz-transition:all .3s ease;
        -o-transition:all .35s ease;
        -ms-transition:all .3s ease;
      }
    }

    &__mob-open {
      display: none;
      background-color: #efefef;
    }
    &__menu-wrapper {
      //background-color: #555;
      @include container;
      box-sizing: border-box;
      padding-top: 28px;
      padding-bottom: 54px;
      padding-left: 30px;
      padding-right: 30px;


      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__mob-menu {
      margin: 0;
      padding: 0;

      ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      a {
        text-decoration: none;
        font-size: 18px;
        line-height: 50px;
        color: $black;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .line {
        //color: red;
      }
    }
    &__mob-sub-menu {
      a {
        text-decoration: none;
        color: #aaadae;
        font-size: 18px;
        font-weight: normal;
        line-height: 35px;
        letter-spacing: 1px;
        text-transform: none;
      }
    }
    &__links {
      display: flex;
      flex-direction: column;
      img {
        height: 33px;
        margin-bottom: 75px;
        margin-top: 10px;
        width: 99px;
      }
      a {
        margin-bottom: 80px;
        width: 57px;
        //font-size: 16px;
      }
    }

    &__desktop {
      display: none;
    }
  }
}