.page-footer {
  background-color: #58595b;
  position: fixed;
  bottom: 0;
  //z-index: -1;
  height: auto;

  &__wrapper {
    //z-index: 0;
    @include container;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    //margin-top: 160px;
    opacity: 0;

    -webkit-transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease-in-out 0s;
    -o-transition: all 0.9s ease-in-out 0s;
    -ms-transition: all 0.9s ease-in-out 0s;
    transition: all 0.9s ease-in-out 0s;

    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;

      -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
    }
    //a:hover {
    //  color: red;
    //}
    hr {
      width: 100%;
      margin-top: 40px;
    }
    span {
      color: #aaadae;
      margin-top: 20px;
      margin-bottom: 20px;
        a {
          color: #aaadae;
          text-decoration: underline;
        }
        a:hover {
          color: #fff;
        }
    }

  }
  &__first-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;


    li {
      margin-right: 95px;
      margin-bottom: 40px;
      a {
        text-transform: uppercase;
      }
      a:hover {
        border-bottom: 1px solid #ffffff;

        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
      }
    }

  }
  &__second-menu {
    display: flex;
    flex-direction: row;

    li {
      margin-right: 40px;
      a {
        color: #aaadae;
        text-transform: none;
        font-size: 16px;
      }
      a:hover {
        color: #fff;

        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
      }
    }
  }
}

@media #{$desktop2-widths} {
  .page-footer {
    min-width: 100%;
  }
}

@media #{$desktop3-widths} {
  .page-footer {

    &__wrapper {
      //margin-top: 100px;
      padding-top: 30px;

      hr {
        margin-top: 30px;
      }
      span {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    &__first-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
        margin-bottom: 30px;
      }
    }
  }
}

@media #{$desktop4-widths} {
  .page-footer {

    &__wrapper {
      //margin-top: 100px;
      padding-top: 30px;

      hr {
        margin-top: 30px;
      }
      span {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    &__first-menu {
      //justify-content: space-between;

      li {
        margin-left: 40px;
        margin-right: 40px;

        a {
          font-size: 14px;
        }
      }
    }
  }
}

@media #{$desktop5-widths} {
  .page-footer {

    &__wrapper {
      //margin-top: 90px;
      padding-top: 30px;
      width: 600px;

      hr {
        margin-top: 30px;
      }
      span {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    &__first-menu {
      //justify-content: space-between;

      li {
        margin-left: 40px;
        margin-right: 40px;

        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media #{$tablet-widths} {
  .page-footer {

    &__wrapper {
      max-width: 470px;
      display: flex;
      flex-direction: column;
      align-items: left;
      padding-left: 65px;
      box-sizing: border-box;
      //margin-top: 80px;

      hr {
        margin: 0;
        width: 370px;
      }
      span {
        color: #aaadae;
        margin-top: 14px;
        line-height: 23px;
        a {
          color: #aaadae;
          text-decoration: underline;
        }
        a:hover {
          color: #fff;
        }
      }

    }
    &__first-menu {
      flex-direction: column;
      justify-content: left;

      li {
        margin: 0;
      }
      a {
        font-size: 18px;
        line-height: 50px;
      }
    }

    &__second-menu {
      flex-direction: column;

      li {
        margin-right: 40px;
        a {
          color: #aaadae;
          text-transform: none;
          font-size: 15px;
          line-height: 40px;
        }
      }
    }
  }
}

@media #{$tablet2-widths} {
  .page-footer {

    &__wrapper {
      max-width: 430px;
      hr {
        margin: 0;
        width: 100%;
      }
    }
  }
}