.passion {
  &__wrapper {
    @include container;
    display: flex;
    justify-content: flex-start;
    margin-left: 295px;
    margin-bottom: 480px;

    div {
      width: 505px;
      margin-top: 130px;
      position: relative;
    }
    h3 {
      text-transform: uppercase;
      font-size: 48px;
      letter-spacing: 5px;
      //text-align: center;
      margin-bottom: 40px;
      margin-top: 0;
      width: 400px;
    }
    span {
      width: 600px;
      //text-align: center;
      color: $gray2;
      font-size: 20px;
      line-height: 30px;
      //margin-bottom: 240px;
    }

  }
  &__karp-mob {
     display: none;
   }
  &__karp-desktop {
    position: absolute;
    right: -1080px;
    top: -250px;
  }
}

@media #{$desktop2-widths} {
  .passion {
    &__wrapper {
      margin-left: 239px;
      margin-bottom: 290px;
    }
    &__karp-desktop {
      right: -695px;
      top: -150px;
      width: 600px;
    }
  }
}

@media #{$desktop3-widths} {
  .passion {
    &__wrapper {
      margin-left: 220px;
      margin-bottom: 190px;

      h3 {
        font-size: 35px;
      }

      div {
        width: 450px;
      }
    }
    &__karp-desktop {
      right: -500px;
      top: -100px;
      width: 480px;
    }
  }
}

@media #{$desktop4-widths} {
  .passion {
    &__wrapper {
      margin-left: 190px;
      //margin-bottom: 190px;

      //h3 {
      //  font-size: 35px;
      //}

      div {
        width: 380px;
      }
      span {
        font-size: 18px;
      }
    }
    &__karp-desktop {
      right: -440px;
      top: -50px;
      width: 440px;
    }
  }
}
