.sew {
  &__wrapper {
    @include container;
    margin-left: 295px;
    min-height: 480px;
    margin-bottom: 200px;


    div {
      display: flex;
      flex-direction: column;
      position: relative;

    }
    .sew__desktop {
      position: absolute;
      right: 14px;
      top: -200px;
      z-index: -1;
    }


    h3 {
      text-transform: uppercase;
      font-size: 48px;
      letter-spacing: 5px;
      //text-align: center;
      margin: 0px;
    }
    a {
      display: none;
    }
    div:hover {
      h2 {
        width: auto;
        border-bottom: 1px solid $black;
        margin-bottom: -1px;
        align-self: flex-start;
      }
      a {
        display: block;
        margin-top: 50px;
      }
    }
  }
  &__mob {
    display: none;
  }
}

@media #{$desktop2-widths} {
  .sew {
    &__wrapper {
      margin-left: 239px;
      margin-bottom: 60px;

      .sew__desktop {
        top: -90px;
        left: 501px;
        width: 640px;
        height: auto;
      }
    }
  }
}

@media #{$desktop3-widths} {
  .sew {
    &__wrapper {
      margin-left: 220px;
      margin-bottom: 60px;

      h3 {
        font-size: 35px;
      }

      .sew__desktop {
        top: -60px;
        left: 437px;
        width: 500px;
        height: auto;
      }
    }
  }
}

@media #{$desktop4-widths} {
  .sew {
    &__wrapper {
      margin-left: 190px;
      min-height: 300px;
      //margin-bottom: 0px;

      h3 {
        font-size: 30px;
      }

      div:hover {
        a {
          display: block;
          margin-top: 30px;
        }
      }

      .sew__desktop {
        top: -50px;
        //left: 477px;
        left: 385px;
        width: 440px;
        height: auto;
      }
    }
  }
}

@media #{$desktop5-widths} {
  .sew {
    &__wrapper {
      margin-left: 110px;
      margin-bottom: 0px;

      h3 {
        font-size: 30px;
      }

      div {
        width: 500px;
      }

      div:hover {
        a {
          margin-top: 23px;
        }
      }

      .sew__desktop {
        top: -15px;
        left: 322px;
        width: 325px;
      }
    }
  }
}

@media #{$tablet-widths} {
  .sew {
    &__wrapper {
      margin: 0 auto;
      margin-bottom: 80px;


      h3 {
        font-size: 38px;
        line-height: 66px;
        min-width: 370px;
        max-width: 370px;
        margin: 0 auto;
      }
      h3:nth-child(4) {
        min-width: 390px;
        max-width: 390px;
        margin-left: 65px;
      }
      a {
        display: block;
        margin-top: 23px;
        margin-left: 65px;
      }
      div:hover {
        a {
          margin-top: 23px;
        }
      }
    }
    &__desktop {
      display: none;
    }
    &__mob {
      display: flex;
      margin-left: 65px;
      margin-bottom: 48px;
    }
  }
}