.sew {
  &__wrapper {
    @include container;
    margin-left: 295px;
    min-height: 480px;
    margin-bottom: 200px;


    div {
      display: flex;
      flex-direction: column;
      position: relative;

    }
    .sew__desktop {
      position: absolute;
      right: 14px;
      top: -200px;
      z-index: -1;
    }


    h2 {
      text-transform: uppercase;
      font-size: 48px;
      letter-spacing: 5px;
      //text-align: center;
      margin: 0px;
    }
    a {
      display: none;
    }
    div:hover {
      h2 {
        width: auto;
        border-bottom: 1px solid $black;
        margin-bottom: -1px;
        align-self: flex-start;
      }
      a {
        display: block;
        margin-top: 50px;
      }
    }
  }
  &__mob {
    display: none;
  }
}

@media #{$desktop2-widths} {
  .sew {
    &__wrapper {
      margin-left: 239px;
      margin-bottom: 60px;

      .sew__desktop {
        top: -90px;
        left: 501px;
        width: 640px;
        height: auto;
      }
    }
  }
}