.slow {
  &__wrapper {
    @include container;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 250px;
    margin-bottom: 245px;
  }


  h2 {
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
  }
  span {
    width: 1015px;
    text-align: center;
    color: $gray2;
    font-size: 20px;
    line-height: 30px;
    //margin-bottom: 240px;
  }

  &__wrapper:after {
    content: "";
    display: table;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    width: 249px;
    height: 407px;
    background-position: -10px -185px;
    position: absolute;
    z-index: -1;
  }
}

@media #{$desktop2-widths} {
  .slow {
    &__wrapper {
      margin-left: 376px;
    }
  }
}

@media #{$desktop3-widths} {
  .slow {
    &__wrapper {
      margin-left: 276px;

      span {
        width: 900px;
      }
    }
  }
}

@media #{$desktop4-widths} {
  .slow {
    &__wrapper {
      margin-left: 250px;
      margin-top: 190px;
      margin-bottom: 190px;

      span {
        width: 750px;
      }
    }
  }
}

@media #{$desktop5-widths} {
  .slow {
    &__wrapper {
      margin-left: 190px;
      margin-top: 150px;
      margin-bottom: 190px;
      h2 {
        font-size: 45px;
      }

      span {
        font-size: 18px;
        width: 600px;
      }
    }
  }
}