.want {
  &__wrapper {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;


    //background-color: #fff;
    min-height: 100vh;
    margin-bottom: 200px;

    h2 {
      text-transform: uppercase;
      font-size: 70px;
      letter-spacing: 5px;
      text-align: center;
      margin-bottom: 40px;
      margin-top: 0;
    }
    span {
      display: block;
      width: 1000px;
      text-align: center;
      margin: 0 auto;
      color: $gray2;
      font-size: 20px;
      line-height: 30px;
    }
  }
  &__mob {
    display: none;
  }
  &__desktop {
    margin: 0 auto;
    margin-top: 105px;
    margin-bottom: 90px;
  }
}

@media #{$desktop2-widths} {
  .want {
    &__wrapper {
      margin-left: 376px;
    }
  }
}

@media #{$desktop3-widths} {
  .want {
    &__wrapper {
      margin-left: 260px;

      span {
        width: 800px;
      }
    }
    &__desktop {
      //margin: 0 auto;
      margin-top: 80px;
      margin-left: 20px;
      //margin-bottom: 90px;
      width: 800px;
      height: auto;
    }
  }
}

@media #{$desktop4-widths} {
  .want {
    &__wrapper {
      margin-left: 220px;

      span {
        width: 700px;
        font-size: 18px;
      }
    }
    &__desktop {
      margin-top: 70px;
      margin-left: 50px;
      margin-bottom: 70px;
      width: 600px;
    }
  }
}

@media #{$desktop5-widths} {
  .want {
    &__wrapper {
      margin-left: 200px;
      h2 {
        font-size: 45px;
      }

      span {
        width: 615px;
        font-size: 16px;
      }
    }
    &__desktop {
      margin-left: -50px;
      width: 500px;
    }
  }
}

@media #{$tablet-widths} {
  .want {
    &__wrapper {
      margin: 0 auto;
      align-items: center;
      margin-bottom: 400px;

      h2 {
        font-size: 70px;
        line-height: 65px;
        width: 370px;
        text-align: left;
      }
      span {
        font-size: 20px;
        line-height: 30px;
        width: 370px;
        text-align: left;
      }
      //a {
      //  margin-left: -85px;
      //}
    }
    &__desktop {
      display: none;
    }
    &__mob {
      display: flex;

      margin: 0 auto;
      margin-bottom: 80px;
      margin-left: 65px;
      margin-top: 50px;
    }
  }
}